name: Async jobs for EddictwareELEC

on:
  workflow_dispatch:

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  use-exec:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/github-script@v8
        with:
          result-encoding: string
          script: |
            const exitCode = await exec.exec('echo', ['hello'])
            console.log(exitCode)

      - uses: actions/github-script@v8
        with:
          result-encoding: string
          script: |
            const {
              exitCode,
              stdout,
              stderr
            } = await exec.getExecOutput('echo', ['hello']);

            console.log(exitCode, stdout, stderr)
