name: Build image in container (namespace)

on:
  workflow_dispatch:
    inputs:
      os:
        description: 'OS to run against'
        required: true
        type: choice
        options:
          - bookworm
          - jammy
          - noble
          - plucky
          - sid
        default: jammy
      custom_os:
        description: 'Use the LE version of the OS?'
        required: true
        type: boolean
        default: false
      arch:
        description: 'Arch to run against'
        required: true
        type: choice
        options:
          - amd64
          - arm64
        default: amd64
  # push:
  #   branches: [ "master-entw" ]
  # pull_request:
  #   branches: [ "master-entw" ]

run-name: ${{ format('{0} ({1}{3}/{2})', github.workflow, inputs.os, inputs.arch, (inputs.custom_os && '-libreelec' || '')) }}

env:
  DistroCodeName: ${{ inputs.os }}
  EE_Distro: EddictwareELEC
  EE_Project: RPi
  EE_Device: RPi4
  EE_Arch: aarch64
  EE_image_pathfilename: ""
  EE_image_filename: ""

jobs:
  init:
    runs-on: ${{ format('namespace-profile-{0}-{1}{2}-max', inputs.os, inputs.arch, (inputs.custom_os && '-libreelec' || '')) }}
    permissions:
      id-token: write
      contents: read
    # if: >-
    #   ${{ (contains(github.event, 'head_commit') &&
    #   contains(github.event.head_commit, 'author') &&
    #   github.event.head_commit.author.username == 'Eddict') ||
    #   (github.event_name == 'workflow_dispatch') }}
    outputs:
      output_ee_distro_tag: ${{ steps.compose-image-tag.outputs.EE_Distro_tag }}
    steps:
    - name: Get Date
      id: get-date
      run: |
        # echo "[date]: $(/bin/date -u "+%Y%m%d")"
        echo "date=$(/bin/date -u "+%Y%m%d")" >> $GITHUB_OUTPUT
      shell: bash

    - name: Get docker guid
      id: get-docker-guid
      run: |
        echo "docker-guid=$(id -u docker)" >> $GITHUB_OUTPUT
      shell: bash

    - name: Compose image tag
      id: compose-image-tag
      run: |
        dTag="${NSC_CONTAINER_REGISTRY}/${{ env.DistroCodeName }}:latest"
        echo "EE_Distro_tag=${dTag,,}" >> $GITHUB_OUTPUT
      shell: bash

  build:
#    runs-on: github
    runs-on: ${{ format('namespace-profile-{0}-{1}{2}-max', inputs.os, inputs.arch, (inputs.custom_os && '-libreelec' || '')) }}
    needs: init
    permissions:
      id-token: write
      contents: read
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:

    - name: Set BUILD_NAME
      id: set-build-name
      shell: bash
      run: echo "BUILD_NAME=${{ env.EE_Distro }}-${{ env.EE_Device }}.${{ env.EE_Arch }}" >> $GITHUB_OUTPUT

    - uses: namespacelabs/nscloud-setup@v0
    - uses: namespacelabs/nscloud-setup-buildx-action@v0

    - name: Checkout repository
      uses: namespacelabs/nscloud-checkout-action@v7
      with:
        ref: ${{ github.ref_name }}

    - name: Set up cache
      uses: namespacelabs/nscloud-cache-action@v1
      with:
        fail-on-cache-miss: false
        path: |
          ${{ github.workspace }}/sources
          ${{ github.workspace }}/build.${{ steps.set-build-name.outputs.BUILD_NAME }}-13.0-devel/.ccache
          ${{ github.workspace }}/build.${{ steps.set-build-name.outputs.BUILD_NAME }}-13.0-devel/.stamps

    # - name: Set up turbo caching
    #   uses: namespace-actions/setup-turbocache@v0

    - name: Build ${{ env.EE_Distro }} image
      shell: bash
      run: |
        debug=true
        NB_CORES=$(grep -c '^processor' /proc/cpuinfo)
        [ "$debug" = true ] && echo "[NB_CORES]: $NB_CORES"

        # pull the image
        # docker login --username ${{ secrets.REGISTRY_USER }} --password ${{ secrets.REGISTRY_PWD }} ${{ secrets.REGISTRY_FQDN }}
        docker image pull "${{ needs.init.outputs.output_ee_distro_tag }}"
        # if [ "$(docker ps -aq -f status=exited -f name=build${{ env.EE_Distro }}.${{ env.DistroCodeName }})" ]; then
        #     # cleanup
        #     docker rm --force --volumes "build${{ env.EE_Distro }}.${{ env.DistroCodeName }}"
        # fi
        
        # run the container
        #  --user "$(id -u)":"$(id -g)" \
        #  --user root \
        docker run --rm \
          --name "build${{ env.EE_Distro }}.${{ env.DistroCodeName }}" \
          --user "$(id -u)":"$(id -g)" \
          --cpus="8" \
          --memory="16g" \
          --memory-swap="-1" \
          --ipc="host" \
          --log-driver local \
          -v ${{ github.workspace }}:/build \
          -w /build \
          -e DISABLE_COLORS=no \
          -e MTCOLORS=auto \
          -e ONELOG=no \
          -e LOGCOMBINE=fail \
          -e MTIMMEDIATE=no \
          -e MTDEBUG=no \
          -e MTVERBOSE=no \
          -e MTPROGRESS=no \
          -e DISTRO=${{ env.EE_Distro }} \
          -e PROJECT=${{ env.EE_Project }} \
          -e DEVICE=${{ env.EE_Device }} \
          -e ARCH=${{ env.EE_Arch }} \
          -e BUILDER_NAME=Eddict \
          -e BUILDER_VERSION="13.0-$(date +%Y%m%d)" \
          ${{ needs.init.outputs.output_ee_distro_tag }} /bin/bash -c ' \
          && echo "find .ccache" \
          && curpwd=$(pwd) \
          && echo "curpwd: $curpwd" \
          && find $curpwd -type d -iname ".ccache" \
          && echo "find .img.gz" \
          && find $curpwd -maxdepth 3 -type f -iname "${{ steps.set-build-name.outputs.BUILD_NAME }}*.img.gz" \
          && echo "run make" \
          && make -j$((NB_CORES+1)) -l${NB_CORES} image \
          && echo "find .ccache" \
          && find $curpwd -type d -iname ".ccache" \
          && echo "find ccache.conf" \
          && find $curpwd -type f -iname ccache.conf \
          && echo "find .img.gz" \
          && find $curpwd -maxdepth 3 -type f -iname "${{ steps.set-build-name.outputs.BUILD_NAME }}*.img.gz"'
          # echo "whoami: $(whoami)" \
          # && echo "uid: $(id -u)" \
          # && echo "gid: $(id -g)" \

    - uses: namespace-actions/upload-artifact@v1
      with:
        name: "${{ steps.set-build-name.outputs.BUILD_NAME }}-13.0-$(date +%Y%m%d) image"
        path: "${{ github.workspace }}/target/${{ steps.set-build-name.outputs.BUILD_NAME }}*.img.gz"
        compression-level: 0 # no compression

    # - name: Copy built ${{ env.EE_Distro }} image to archive
    #   id: image-path
    #   run: |
    #     debug=true
    #     [ "$debug" = true ] && echo "[pwd]: $PWD"
    #     if [ -d $PWD/target ]; then
    #       lines=$(find $PWD/target -maxdepth 1 -type f -iname "${{ steps.set-build-name.outputs.BUILD_NAME }}*.img.gz" 2>/dev/null | wc -l)
    #       [ "$debug" = true ] && echo "[lines]: $lines"
    #       if [ $lines -ne 0 ]; then
    #         pathfilename=$(ls -t $PWD/target/${{ steps.set-build-name.outputs.BUILD_NAME }}*.img.gz | head --lines=1)
    #         [ "$debug" = true ] && echo "[EE_image_pathfilename]: $pathfilename"
    #         echo "EE_image_pathfilename=$pathfilename" >> $GITHUB_OUTPUT
    #         filename="${pathfilename##*/}"
    #         [ "$debug" = true ] && echo "[EE_image_filename]: $filename"
    #         echo "EE_image_filename=$filename" >> $GITHUB_OUTPUT
    #         if [ ! -d /root/target_archive ]; then
    #           mkdir --parents "/root/target_archive"
    #         fi
    #         if [ "$(cp "$pathfilename" "/root/target_archive")" ]; then # --update=older
    #           echo "Copied built image to /root/target_archive"
    #         else
    #           echo "No newer built image to copy to /root/target_archive"
    #         fi
    #       else
    #         echo "No built image found in target directory, skipping copy."
    #       fi
    #     else
    #       echo "No target directory found, skipping copy of built image."
    #     fi

    # - name: Upload built ${{ env.EE_Distro }} image
    #   if: steps.image-path.outputs.EE_image_pathfilename != ''
    #   uses: actions/upload-artifact@v4
    #   with:
    #     name: "${{ steps.image-path.outputs.EE_image_filename }}"
    #     path: "${{ steps.image-path.outputs.EE_image_pathfilename }}"

    # - # Temp fix to prevent cache size keeps growing
    #   # https://docs.docker.com/build/ci/github-actions/cache/#local-cache
    #   name: Move cache
    #   run: |
    #     rm -rf /tmp/.buildx-cache-2
    #     mv /tmp/.buildx-cache-2-new /tmp/.buildx-cache-2
 