name: Build build Container on Namespace

on:
  workflow_dispatch:
    inputs:
      os:
        description: 'OS to run against'
        required: true
        type: choice
        options:
          - bookworm
          - jammy
          - noble
          - noble-custom
          - plucky
          - sid
        default: jammy
      custom_os:
        description: 'Use the LE version of the OS?'
        required: true
        type: boolean
        default: false
      arch:
        description: 'Arch to run against'
        required: true
        type: choice
        options:
          - amd64
          - arm64
        default: amd64

run-name: ${{ format('{0} ({1}{3}/{2})', github.workflow, inputs.os, inputs.arch, (inputs.custom_os && '-libreelec' || '')) }}

jobs:
  build:
    runs-on: namespace-profile-linux-amd64-max # ubuntu-latest # namespace-profile-default # nscloud # namespace-profile-linux-amd64-max
    # runs-on: ${{ format('namespace-profile-{0}-{1}{2}-max', inputs.os, inputs.arch, (inputs.custom_os && '-libreelec' || '')) }}
    # runs-on: namespace-profile-${{ inputs.os }}-${{ inputs.arch }}-max
    permissions:
      id-token: write
      contents: read
    steps:
    - name: Compose image tag
      id: compose-image-tag
      run: |
        dTag="${NSC_CONTAINER_REGISTRY}/${{ inputs.os }}:latest"
        # Use ,, to convert all characters to lowercase
        echo "EE_Distro_tag=${dTag,,}" >> $GITHUB_OUTPUT
      shell: bash

    - uses: namespacelabs/nscloud-setup@v0
    - uses: namespacelabs/nscloud-setup-buildx-action@v0
      
    - name: Checkout repository scripts
      uses: actions/checkout@v5
      with:
        show-progress: false
        fetch-tags: false
        sparse-checkout: |
          tools/docker/${{ inputs.os }}/Dockerfile
        sparse-checkout-cone-mode: false

    # - name: Checkout repository
    #   uses: namespacelabs/nscloud-checkout-action@v7
    #   with:
    #     ref: ${{ github.ref_name }}

    - name: Set up APT cache
      uses: namespacelabs/nscloud-cache-action@v1
      with:
        cache: apt

    - name: Build and export to (local/private) registry
      uses: docker/build-push-action@v6
      with:
        # context: .
        file: tools/docker/${{ inputs.os }}/Dockerfile
        # tags: ${{ steps.compose-image-tag.outputs.EE_Distro_tag }}:latest
        push: true
        tags: ${{ steps.compose-image-tag.outputs.EE_Distro_tag }}
        # build-args: |
        #   USER_UID=${{ steps.get-docker-guid.outputs.docker-guid }}
