name: Build EddictwareELEC image in container

on:
  workflow_dispatch:
  push:
    branches: [ "master-entw" ]
  pull_request:
    branches: [ "master-entw" ]

env:
  DistroCodeName: noble
  EE_Distro: EddictwareELEC
  EE_Project: RPi
  EE_Device: RPi4
  EE_Arch: aarch64
  EE_image_pathfilename:
  EE_image_filename:

jobs:
  init:
#    runs-on: github
    runs-on: self-hosted
    if: github.event.head_commit.author.username != 'Eddict' || github.event_name == 'workflow_dispatch'
      # && github.event_name != 'pull_request' && github.event_name != 'workflow_dispatch'
    env:
      BUILDKIT_PROGRESS: 'auto' #'plain' 'quiet'
    steps:
    - 
      name: Get Date
      id: get-date
      run: |
        # echo "[date]: $(/bin/date -u "+%Y%m%d")"
        echo "date=$(/bin/date -u "+%Y%m%d")" >> $GITHUB_OUTPUT
      shell: bash

    - 
      name: Get docker guid
      id: get-docker-guid
      run: |
        echo "docker-guid=$(id -u docker)" >> $GITHUB_OUTPUT
      shell: bash

    - 
      name: Compose image tag
      id: compose-image-tag
      run: |
        echo "EE_Distro_tag=${{ secrets.REGISTRY_FQDN }}/eddict/${DistroCodeName@L}" >> $GITHUB_OUTPUT
      shell: bash

    -
      name: Checkout repository
      uses: actions/checkout@v5
      with:
        ref: 'master-entw'

    - 
      name: Log in to (local/private) registry
      uses: docker/login-action@v3
      with:
        registry: "${{ secrets.REGISTRY_FQDN }}"
        username: ${{ secrets.REGISTRY_USER }}
        password: ${{ secrets.REGISTRY_PWD }}

  build:
#    runs-on: github
    runs-on: self-hosted
    container:
      image: ${{ steps.compose-image-tag.outputs.EE_Distro_tag }}
      credentials:
        username: ${{ secrets.REGISTRY_USER }}
        password: ${{ secrets.REGISTRY_PWD }}
    steps:
    - 
      name: Compose image tag
      id: compose-image-tag
      run: |
        echo "EE_Distro_tag=${{ secrets.REGISTRY_FQDN }}/eddict/${EE_Distro@L}.${DistroCodeName}" >> $GITHUB_OUTPUT
      shell: bash

    - 
      name: Build ${{ env.EE_Distro }} image
      env: 
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        chown -R docker:docker $PWD
        docker login --username ${{ vars.DOCKERHUB_USERNAME }} --password ${{ secrets.DOCKERHUB_TOKEN }}
        if [ "$(docker ps -aq -f status=exited -f name=build${{ env.EE_Distro }}.${{ env.DistroCodeName }})" ]; then
            # cleanup
            docker rm --force --volumes "build${{ env.EE_Distro }}.${{ env.DistroCodeName }}"
        fi
        # run the container
        docker run --rm \
          --log-driver none \
          --name "build${{ env.EE_Distro }}.${{ env.DistroCodeName }}" \
          -v $PWD:/build \
          -w /build \
          -e DISABLE_COLORS=yes \
          -e LOGCOMBINE=fail \
          -e MTIMMEDIATE=no \
          -e MTDEBUG=no \
          -e MTVERBOSE=no \
          -e MTPROGRESS=yes \
          -e DISTRO=${{ env.EE_Distro }} \
          -e PROJECT=${{ env.EE_Project }} \
          -e DEVICE=${{ env.EE_Device }} \
          -e ARCH=${{ env.EE_Arch }} \
          -e BUILDER_NAME=Eddict \
          -e BUILDER_VERSION="13.0-$(date +%Y%m%d)" \
          "${{ steps.compose-image-tag.outputs.EE_Distro_tag }}" make image
          # "${{ secrets.REGISTRY_FQDN }}/${{ steps.compose-image-tag.outputs.EE_Distro_tag }}" make image

    - 
      name: Copy built ${{ env.EE_Distro }} image to archive
      id: image-path
      run: |
        debug=true
        [ "$debug" = true ] && echo "[pwd]: $PWD"
        if [ -d $PWD/target ]; then
          lines=$(find $PWD/target -maxdepth 1 -type f -iname "${{ env.EE_Distro }}-${{ env.EE_Device }}.${{ env.EE_Arch }}*.img.gz" 2>/dev/null | wc -l)
          [ "$debug" = true ] && echo "[lines]: $lines"
          if [ $lines -ne 0 ]; then
            pathfilename=$(ls -t $PWD/target/${{ env.EE_Distro }}-${{ env.EE_Device }}.${{ env.EE_Arch }}*.img.gz | head --lines=1)
            [ "$debug" = true ] && echo "[EE_image_pathfilename]: $pathfilename"
            echo "EE_image_pathfilename=$pathfilename" >> $GITHUB_OUTPUT
            filename="${pathfilename##*/}"
            [ "$debug" = true ] && echo "[EE_image_filename]: $filename"
            echo "EE_image_filename=$filename" >> $GITHUB_OUTPUT
            if [ ! -d /root/target_archive ]; then
              mkdir --parents "/root/target_archive"
            fi
            if [ "$(cp "$pathfilename" "/root/target_archive")" ]; then # --update=older 
              echo "Copied built image to /root/target_archive"
            else
              echo "No newer built image to copy to /root/target_archive"
            fi
          else
            echo "No built image found in target directory, skipping copy."
          fi
        else
          echo "No target directory found, skipping copy of built image."
        fi

    - name: Upload built ${{ env.EE_Distro }} image
      if: steps.image-path.outputs.EE_image_pathfilename != ''
      uses: actions/upload-artifact@v4
      with:
        name: "${{ steps.image-path.outputs.EE_image_filename }}"
        path: "${{ steps.image-path.outputs.EE_image_pathfilename }}"
