name: Build Container for building EddictwareELEC images

on:
  workflow_dispatch:

env:
  DistroCodeName: noble

jobs:
  info:
    runs-on: self-hosted
    if: 0 == 1
    steps:
    -
      name: Show github.event.pull_request.head.user.login
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
        JOB_CONTEXT: ${{ toJson(job) }}
        RUNNER_CONTEXT: ${{ toJson(runner) }}
        STRATEGY_CONTEXT: ${{ toJson(strategy) }}
        MATRIX_CONTEXT: ${{ toJson(matrix) }}
        LAST_COMMIT_USER: ${{ github.event.pull_request.head.user.login }}
        LAST_HEAD_COMMIT_AUTHOR: ${{ github.event.head_commit.author.username }}
        LAST_HEAD_COMMIT_COMMITTER: ${{ github.event.head_commit.committer.username }}
      run: |
        echo "LAST_COMMIT_USER: $LAST_COMMIT_USER"
        echo "LAST_HEAD_COMMIT_AUTHOR: $LAST_HEAD_COMMIT_AUTHOR"
        echo "LAST_HEAD_COMMIT_COMMITTER: $LAST_HEAD_COMMIT_COMMITTER"
        # exit 1
  build:
#    runs-on: github
    runs-on: self-hosted
    env:
      BUILDKIT_PROGRESS: 'auto' #'plain' 'quiet'
    steps:

    -
      name: Get docker guid
      id: get-docker-guid
      run: |
        echo "docker-guid=$(id -u docker)" >> $GITHUB_OUTPUT
      shell: bash

    -
      name: Compose image tag
      id: compose-image-tag
      run: |
        echo "EE_Distro_tag=${{ secrets.REGISTRY_FQDN }}/eddict/${{ env.DistroCodeName }}" >> $GITHUB_OUTPUT
      shell: bash

    -
      name: Log in to (local/private) registry
      uses: docker/login-action@v3
      with:
        registry: "${{ secrets.REGISTRY_FQDN }}"
        username: ${{ secrets.REGISTRY_USER }}
        password: ${{ secrets.REGISTRY_PWD }}

    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        name: builder-eddictwareelec
        version: latest
        keep-state: true
        cleanup: false
        # https://github.com/moby/buildkit/blob/master/docs/buildkitd.toml.md
        buildkitd-config-inline: |
          debug = false
          [registry."${{ secrets.REGISTRY_FQDN }}"]
            http = false
#        buildkitd-flags: '"--progress ''plain''"'

    # -
    #   name: Cache Docker layers
    #   uses: actions/cache@v4
    #   with:
    #     path: /tmp/.buildx-cache
    #     key: ${{ runner.os }}-${{ env.DistroCodeName }}
    #     # restore-keys: ${{ runner.os }}-${{ github.repository }}-${{ github.ref_name }}

    -
      name: Build and export to (local/private) registry
      uses: docker/build-push-action@v6
      with:
        file: tools/docker/${{ env.DistroCodeName }}/Dockerfile
        # outputs: type=cacheonly # build without pushing
        push: true
        tags: ${{ steps.compose-image-tag.outputs.EE_Distro_tag }}:latest
        no-cache: false
        cache-from: type=registry,ref=${{ steps.compose-image-tag.outputs.EE_Distro_tag }}:buildcache
        cache-to: type=registry,ref=${{ steps.compose-image-tag.outputs.EE_Distro_tag }}:buildcache,mode=max
        # cache-from: type=registry,ref=${{ vars.DOCKER_HUB_USERNAME }}/${{ vars.DOCKER_HUB_IMAGE_NAME }}.1:buildcache
        # cache-to: type=registry,ref=${{ vars.DOCKER_HUB_USERNAME }}/${{ vars.DOCKER_HUB_IMAGE_NAME }}.1:buildcache,mode=max
        # cache-from: type=local,src=/tmp/.buildx-cache
        # cache-to: type=local,mode=max,dest=/tmp/.buildx-cache-new
        # cache-from: type=local,src=${{ runner.temp }}/.buildx-cache
        # cache-to: type=local,dest=${{ runner.temp }}/.buildx-cache-new,mode=max
        build-args: |
          USER_UID=${{ steps.get-docker-guid.outputs.docker-guid }}
#          --progress=plain
#          DOCKER_BUILDKIT=0

    # - # Temp fix to prevent cache size keeps growing
    #   # https://docs.docker.com/build/ci/github-actions/cache/#local-cache
    #   name: Move cache
    #   run: |
    #     rm -rf /tmp/.buildx-cache
    #     mv /tmp/.buildx-cache-new /tmp/.buildx-cache
