name: Build Container on Namespace for building EddictwareELEC images

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to run against'
        required: true
        type: choice
        options:
          - bookworm
          - jammy
          - noble
          - plucky
        default: plucky

run-name: '${{ github.workflow }} (${{ github.event.inputs.environment }})'

env:
  DistroCodeName: ${{ inputs.environment }}

jobs:
  build:
    # runs-on: ubuntu-latest # namespace-profile-default # nscloud # namespace-profile-linux-max
    runs-on: namespace-profile-linux-max
    permissions:
      id-token: write
      contents: read
    steps:
    - name: Compose image tag
      id: compose-image-tag
      run: |
        dTag="${NSC_CONTAINER_REGISTRY}/${{ env.DistroCodeName }}:latest"
        # Use ,, to convert all characters to lowercase
        echo "EE_Distro_tag=${dTag,,}" >> $GITHUB_OUTPUT
      shell: bash

    - uses: namespacelabs/nscloud-setup@v0
    - uses: namespacelabs/nscloud-setup-buildx-action@v0
      
    - name: Checkout repository scripts
      uses: actions/checkout@v5
      with:
        sparse-checkout: |
          tools/docker/${{ env.DistroCodeName }}/Dockerfile
        sparse-checkout-cone-mode: false

    - name: Build and export to (local/private) registry
      uses: docker/build-push-action@v6
      with:
        # context: .
        file: tools/docker/${{ env.DistroCodeName }}/Dockerfile
        # tags: ${{ steps.compose-image-tag.outputs.EE_Distro_tag }}:latest
        push: true
        tags: ${{ steps.compose-image-tag.outputs.EE_Distro_tag }}
        # build-args: |
        #   USER_UID=${{ steps.get-docker-guid.outputs.docker-guid }}
