name: Build Container on Namespace for building EddictwareELEC images

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to run against'
        required: true
        type: choice
        options:
          - bookworm
          - jammy
          - noble
          - plucky
        default: plucky

run-name: '${{ github.workflow }} (${{ github.event.inputs.environment }})'

env:
  DistroCodeName: ${{ inputs.environment }}

jobs:
  build:
    # runs-on: ubuntu-latest # namespace-profile-default # nscloud # namespace-profile-linux-max
    runs-on: namespace-profile-linux-max
    permissions:
      id-token: write
      contents: read
    steps:
    - uses: actions/checkout@v5

    - name: Compose image tag
      id: compose-image-tag
      run: |
        # dTag="${{ env.DistroCodeName }}"
        # dTag="${{ secrets.REGISTRY_FQDN }}/${{ github.repository_owner }}/${{ env.DistroCodeName }}:latest"
        # dTag="${{ github.repository_owner }}/${{ env.DistroCodeName }}:latest"
        # dtag="nscr.io/t51tpordmjhrc/${dTag}"
        # dtag="nscr.io/tenant_t51tpordmjhrc"
        # echo "dTag: $dTag"
        dTag="${{ env.DistroCodeName }}:latest"
        echo "dTag: $dTag"
        echo "NSC_CONTAINER_REGISTRY: $NSC_CONTAINER_REGISTRY"
        echo "{NSC_CONTAINER_REGISTRY}: ${NSC_CONTAINER_REGISTRY}"
        dTag="${NSC_CONTAINER_REGISTRY}/${dTag}"
        echo "dTag: $dTag"
        # Use ,, to convert all characters to lowercase
        echo "EE_Distro_tag=${dTag,,}"
        echo "EE_Distro_tag=${dTag,,}" >> $GITHUB_OUTPUT
      shell: bash

    - uses: namespacelabs/nscloud-setup@v0
    - uses: namespacelabs/nscloud-setup-buildx-action@v0
      
    - name: Build and export to (local/private) registry
      # uses: depot/build-push-action@v1
      uses: docker/build-push-action@v6
      with:
        # project: 4qqpxt59lq
        # context: .
        file: tools/docker/${{ env.DistroCodeName }}/Dockerfile
        # tags: ${{ steps.compose-image-tag.outputs.EE_Distro_tag }}:latest
        context: .
        push: true
        tags: ${{ steps.compose-image-tag.outputs.EE_Distro_tag }}
        # build-args: |
        #   USER_UID=${{ steps.get-docker-guid.outputs.docker-guid }}
