name: Build Container on Namespace for building EddictwareELEC images

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to run against'
        required: true
        type: choice
        options:
          - bookworm
          - jammy
          - noble
          - plucky
        default: noble

run-name: '${{ github.workflow }} (${{ github.event.inputs.environment }})'

env:
  DistroCodeName: ${{ inputs.environment }}

jobs:
  build:
    runs-on: namespace-profile-default
    steps:
    - uses: actions/checkout@v5

    - name: Compose image tag
      id: compose-image-tag
      run: |
        dTag="${{ env.DistroCodeName }}"
        # Use ,, to convert all characters to lowercase
        echo "EE_Distro_tag=${dTag,,}" >> $GITHUB_OUTPUT
      shell: bash

    -
      name: Set up nscloud Buildx
      uses: namespacelabs/nscloud-setup-buildx-action@v0
      
    - name: Build and export to (local/private) registry
      # uses: depot/build-push-action@v1
      uses: docker/build-push-action@v6
      with:
        # project: 4qqpxt59lq
        # context: .
        # file: tools/docker/${{ env.DistroCodeName }}/Dockerfile
        # tags: ${{ steps.compose-image-tag.outputs.EE_Distro_tag }}:latest
        context: .
        push: true
        tags: ${{ secrets.REGISTRY_FQDN }}/${{ github.repository_owner }}/${{ env.DistroCodeName }}:latest
        # build-args: |
        #   USER_UID=${{ steps.get-docker-guid.outputs.docker-guid }}
