name: Build EddictwareELEC image in containerX

on:
  workflow_dispatch:
  push:
    branches: [ "master-entw" ]
    paths-ignore: &exclude_paths # set YAML anchors for reuse
      - '*.*'
      - '.github/workflows/build-docker-image.yml'
      - 'tools/docker/**'
  pull_request:
    branches: [ "master-entw" ]
    paths-ignore: *exclude_paths

env:
  DistroCodeName: noble
  BUILDER_NAME: Eddict
  BUILDER_VERSION: ""
  EE_Distro: EddictwareELEC
  EE_Project: RPi
  EE_Device: RPi4
  EE_Arch: aarch64
  EE_Distro_tag: ""
  EE_image_pathfilename: ""
  EE_image_filename: ""
  NB_CORES: 1
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  # HOME: ""

jobs:
  test:
    name: Test job
    runs-on: self-hosted
    if: 0 == 1
    continue-on-error: true
    steps:
    # - name: Generate list using Markdown
    #   run: |
    #     echo "This is the lead in sentence for the list" >> $GITHUB_STEP_SUMMARY
    #     echo "" >> $GITHUB_STEP_SUMMARY # this is a blank line
    #     echo "- Lets add a bullet point" >> $GITHUB_STEP_SUMMARY
    #     echo "- Lets add a second bullet point" >> $GITHUB_STEP_SUMMARY
    #     echo "- How about a third one?" >> $GITHUB_STEP_SUMMARY
    - name: Generate list using Markdown EF
      run: |
        # backslash-escape EOF to prevent variable expansion (although there are none)
        cat <<\EOF >> "$GITHUB_STEP_SUMMARY"
        This is the lead in sentence for the list

        - Lets add a bullet point
        - Lets add a second bullet point
        - How about a third one?
        EOF
    - name: create string
      run: |
        MY_STRING=$(cat << EOF
        first line
        second line
        third line
        EOF
        )
        echo "MY_STRING<<EOF" >> $GITHUB_ENV
        echo "$MY_STRING" >> $GITHUB_ENV
        echo "EOF" >> $GITHUB_ENV
      id: my_string
    - name: display string
      run: |
        echo "The string is: ${{ env.MY_STRING }}"
    - name: Set the value in bash
      id: step_one
      run: |
        {
          echo 'JSON_RESPONSE<<EOF'
          curl https://example.com
          echo EOF
        } >> "$GITHUB_ENV"
    - name: display JSON_RESPONSE
      env:
        JSON_RESPONSE: ${{ env.JSON_RESPONSE }}
      run: |
        # dummy comment
        head -n 10 <<< "::add-mask::$JSON_RESPONSE"

  cancel:
    name: Cancel job
    runs-on: self-hosted
    needs: [ test ]
    if: 0 == 1
    permissions:
      actions: write  # Required permissions for cancelling the workflow run
    steps:
      - name: Cancelling this workflow run.
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.actions.cancelWorkflowRun({
              owner: context.repo.owner,
              repo: context.repo.repo,
              run_id: context.runId
            });


  info:
    runs-on: self-hosted
    if: 0 == 1
    steps:
    -
      name: Show github.event.pull_request.head.user.login
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
        JOB_CONTEXT: ${{ toJson(job) }}
        RUNNER_CONTEXT: ${{ toJson(runner) }}
        # STRATEGY_CONTEXT: ${{ toJson(strategy) }}
        # MATRIX_CONTEXT: ${{ toJson(matrix) }}
        LAST_COMMIT_USER: ${{ github.event.pull_request.head.user.login }}
        LAST_HEAD_COMMIT_AUTHOR: ${{ github.event.head_commit.author.username }}
        LAST_HEAD_COMMIT_COMMITTER: ${{ github.event.head_commit.committer.username }}
      run: |
        echo "LAST_COMMIT_USER: $LAST_COMMIT_USER"
        echo "LAST_HEAD_COMMIT_AUTHOR: $LAST_HEAD_COMMIT_AUTHOR"
        echo "LAST_HEAD_COMMIT_COMMITTER: $LAST_HEAD_COMMIT_COMMITTER"
        # exit 1

  pre-build:
    name: Pre-build
#    runs-on: github
    runs-on: self-hosted
    if: github.event.head_commit.author.username != 'Eddict' || github.event_name == 'workflow_dispatch'
      # && github.event_name != 'pull_request' && github.event_name != 'workflow_dispatch'
    env:
      BUILDKIT_PROGRESS: 'auto' #'plain' 'quiet'
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      HOME: ""
    steps:
    - name: Checkout repository scripts (bash)
      if: 0 == 1
      shell: bash 
      run: |
        if [[ $EUID -eq 0 ]]; then
          xHOME="/root"
        else
          homedir=~
          if ! eval xHOME=$homedir; then
            xHOME="/home/$(whoami)"
          fi
        fi
        export HOME="$xHOME"
        echo "whoami=$(whoami)"
        echo "pwd=$(pwd)"
        echo "HOME=$HOME"
        touch $HOME/.gitconfig
        echo ${{ github.workspace }}
        echo ${{ runner.temp }}
        cd ${{ runner.temp }}
        cp $HOME/.gitconfig ${{ runner.temp }}
        git config --global --add safe.directory ${{ runner.temp }}
        git config --local --get remote.origin.url
        git rev-parse --symbolic-full-name --verify --quiet HEAD
        git checkout
        #git checkout --detach
        #git branch --delete --force master-entw
        #git clean -ffdx
        #git checkout ${{ github.event.repository.default_branch }} -- .github/actions/scripts

    - name: Checkout repository scripts
      uses: actions/checkout@v5
      with:
        ref: ${{ github.event.repository.default_branch }}
        clean: false # otherwise .ccache subfolder gets deleted
        show-progress: true
        set-safe-directory: true # this is the default, but just to be sure
        sparse-checkout: .github/actions/scripts
#        sparse-checkout-cone-mode: false
#        path: .
#        filter: .github/actions/scripts

    - name: Initialize environment
      id: set-multi
      shell: bash
      run: |
        .github/actions/scripts/set_multi.sh ${{ runner.temp }}
        .github/actions/scripts/set_multi.sh

    - name: Checkout repository
      uses: actions/checkout@v5
      with:
        ref: 'master-entw'
        clean: false # otherwise .ccache subfolder gets deleted
        show-progress: false
        set-safe-directory: true # this is the default, but just to be sure

    # - name: Init environment variables
    #   uses: ./.github/actions/composite-actions/init-env-vars #${{ github.action_path }}

      # Expose step outputs as job outputs
  # outputs:
  #   output_get_pwd: ${{ steps.get-pwd.outputs.curdir }}
  #   output_get_cpu_info: ${{ steps.get-cpu-info.outputs.NB_CORES }}
  #   output_build_dir: ${{ steps.ccache-folder.outputs.BUILD_DIR }}
  #   output_ccache_folder: ${{ steps.ccache-folder.outputs.CCACHE_DIR }}

  repo-vars:
    name: Repo-vars
    needs: pre-build
    runs-on: self-hosted
    permissions:
      actions: write
    env:
      GH_TOKEN: ${{ secrets.GH_RUNNER_TOKEN }}
      HOME: ""
    steps:
    - name: Initialize environment
      id: set-multi
      shell: bash
      run: |
        .github/actions/scripts/set_multi.sh ${{ runner.temp }}
        .github/actions/scripts/set_multi.sh

    - name: gh-variable-set
      shell: bash
      run: |
        # gh auth status
        if gh variable set REGISTRY_FQDN --body "${{ secrets.REGISTRY_FQDN }}"; then
          sleep 3s # wait for variable to be set
        else
          echo "Failed to set gh variable REGISTRY_FQDN"
          exit 1
        fi

  repo-login:
    name: Repo-login
    needs: repo-vars
    runs-on: self-hosted
    permissions:
      actions: read
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      HOME: ""
    steps:
    - name: Initialize environment
      id: set-multi
      shell: bash
      run: |
        .github/actions/scripts/set_multi.sh ${{ runner.temp }}
        .github/actions/scripts/set_multi.sh

    - name: Get gh variable
      id: gh-variable-get
      env:
        GH_TOKEN: ${{ secrets.GH_RUNNER_TOKEN }}
      shell: bash
      run: |
        sleep 3s # wait for variable to get
        echo "REGISTRY_FQDN=${{ vars.REGISTRY_FQDN }}"
        if ghREGISTRY_FQDN=$(gh variable get REGISTRY_FQDN); then
          echo "ghREGISTRY_FQDN=$ghREGISTRY_FQDN" >> $GITHUB_OUTPUT
        else
          echo "Failed to get gh variable REGISTRY_FQDN"
          exit 1
        fi

    - name: Login to (private) Registry
      uses: docker/login-action@v3
      with:
        registry: ${{ steps.gh-variable-get.outputs.ghREGISTRY_FQDN }} #${{ vars.REGISTRY_FQDN }}
        username: ${{ secrets.REGISTRY_USER }}
        password: ${{ secrets.REGISTRY_PWD }}

    - name: Prepare build directory
      id: prepare-build-dir
      run: |
        echo "curdir: $PWD"
        chown -R docker:docker $PWD

        # docker login --username ${{ vars.DOCKERHUB_USERNAME }} --password ${{ secrets.DOCKERHUB_TOKEN }}
        # if [ "$(docker ps -aq -f status=exited -f name=build${{ env.EE_Distro }}.${{ env.DistroCodeName }})" ]; then
        #     # cleanup
        #     docker rm --force --volumes "build${{ env.EE_Distro }}.${{ env.DistroCodeName }}"
        # fi

    outputs:
      output_get_RFQDN: ${{ steps.gh-variable-get.outputs.ghREGISTRY_FQDN }}


  build:
    name: Build
    runs-on: self-hosted
    needs:
      - pre-build 
      - repo-vars
      - repo-login
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      HOME: ""
    container:
      options: --user docker --log-driver none --workdir /build # --user root
      # image: ${{ vars.REGISTRY_FQDN }}/eddict/noble
      image: ${{ needs.repo-login.outputs.output_get_RFQDN }}/eddict/noble
      credentials:
        username: ${{ secrets.REGISTRY_USER }}
        password: ${{ secrets.REGISTRY_PWD }}
      env:
        DISABLE_COLORS: yes
        LOGCOMBINE: fail
        MTIMMEDIATE: no
        MTDEBUG: no
        MTVERBOSE: no
        MTPROGRESS: yes
        DISTRO: ${{ env.EE_Distro }}
        PROJECT: ${{ env.EE_Project }}
        DEVICE: ${{ env.EE_Device }}
        ARCH: ${{ env.EE_Arch }}
        BUILDER_NAME: ${{ env.BUILDER_NAME }}
        BUILDER_VERSION: ${{ env.BUILDER_VERSION }}
      volumes:
        - ${{ needs.pre-build.outputs.output_get_pwd }}:/build:rw
        # - ${{ needs.pre-build.outputs.output_build_dir }}
        # - ${{ needs.pre-build.outputs.output_get_pwd }}/../.ccache:${{ needs.pre-build.outputs.output_build_dir }}:rw
        # - ${{ needs.pre-build.outputs.output_get_pwd }}/../autoconf-cache/config.site:/usr/share/config.site:rw
        # - ${{ needs.pre-build.outputs.output_get_pwd }}/../autoconf-cache/config.cache:/usr/share/config.cache:rw
    steps:
    - name: Initialize environment
      id: set-multi
      shell: bash
      run: |
        .github/actions/scripts/set_multi.sh ${{ runner.temp }}
        .github/actions/scripts/set_multi.sh

    - uses: ./.github/actions/composite-actions/init-env-vars
      id: get-env-vars
      name: Init environment variables
      with:
        gh-token: ${{ secrets.GITHUB_TOKEN }}
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - run: echo mypwd "$PWDx"
      shell: bash
      env:
        PWDx: ${{ steps.get-env-vars.outputs.output_get_pwd }}

    - name: Echo environment
      run: |
        echo "whoami=$(whoami)"
        echo "hostname=$(hostname)"
        curdir=$(pwd) && echo "curdir: $curdir"
        # cat /etc/passwd | grep $(whoami)
        # cat /etc/group | grep $(whoami)

    - name: Remove gh variable
      id: remove-gh-variable
      continue-on-error: true
      env:
        GH_TOKEN: ${{ secrets.GH_RUNNER_TOKEN }}
      run: |
        #echo ${{ secrets.GH_RUNNER_TOKEN }} | gh auth login --with-token
        gh variable delete REGISTRY_FQDN

    - name: Set .ccache permissions
      run: |
        ls -ld /build
        # set permissions for root build folder
        #sudo chown -R docker:docker /build
        # set permissions for build folder
        # ls -ld ${{ needs.pre-build.outputs.output_build_dir }}
        # ls -ld ${{ needs.pre-build.outputs.output_ccache_folder }}
        # sudo chown -R docker:docker ${{ needs.pre-build.outputs.output_build_dir }}
        # ls -ld ${{ needs.pre-build.outputs.output_build_dir }}
        # ls -ld ${{ needs.pre-build.outputs.output_ccache_folder }}
        # sudo chmod -R go+rw ${{ needs.pre-build.outputs.output_build_dir }}
        # ls -ld ${{ needs.pre-build.outputs.output_build_dir }}
        # # set permissions for .ccache folder
        # ls -ld ${{ needs.pre-build.outputs.output_ccache_folder }}
        # sudo chmod -R go+rw ${{ needs.pre-build.outputs.output_ccache_folder }}
        # ls -ld ${{ needs.pre-build.outputs.output_ccache_folder }}

    # -
    #   name: Download and cache package sources
    #   run: |
    #     tools/download-tool

    - name: Build ${{ env.EE_Distro }} image
      run: |
        NB_CORES=${{ needs.pre-build.outputs.output_get_cpu_info }}
        # echo "NB_CORES=$NB_CORES"
        # run the build
        make -j$((NB_CORES+1)) -l${NB_CORES} image

  post-build:
    name: Post-build
    runs-on: self-hosted
    needs: build
    steps:
    - name: Copy built ${{ env.EE_Distro }} image to archive
      id: archive-image
      run: |
        debug=true
        [ "$debug" = true ] && echo "[pwd]: $PWD"
        if [ -d $PWD/target ]; then
          lines=$(find $PWD/target -maxdepth 1 -type f -iname "${{ env.EE_Distro }}-${{ env.EE_Device }}.${{ env.EE_Arch }}*.img.gz" 2>/dev/null | wc -l)
          [ "$debug" = true ] && echo "[lines]: $lines"
          if [ $lines -ne 0 ]; then
            pathfilename=$(ls -t $PWD/target/${{ env.EE_Distro }}-${{ env.EE_Device }}.${{ env.EE_Arch }}*.img.gz | head --lines=1)
            [ "$debug" = true ] && echo "[EE_image_pathfilename]: $pathfilename"
            echo "EE_image_pathfilename=$pathfilename" >> $GITHUB_OUTPUT
            filename="${pathfilename##*/}"
            [ "$debug" = true ] && echo "[EE_image_filename]: $filename"
            echo "EE_image_filename=$filename" >> $GITHUB_OUTPUT
            if [ ! -d /root/target_archive ]; then
              mkdir --parents "/root/target_archive"
            fi
            if [ "$(cp "$pathfilename" "/root/target_archive")" ]; then # --update=older
              echo "Copied built image to /root/target_archive"
            else
              echo "No newer built image to copy to /root/target_archive"
            fi
          else
            echo "No built image found in target directory, skipping copy."
          fi
        else
          echo "No target directory found, skipping copy of built image."
        fi

    - name: Upload built ${{ env.EE_Distro }} image
      id: upload-image
      if: ${{ steps.archive-image.outputs.EE_image_pathfilename }} != ''
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      uses: actions/upload-artifact@v4
      with:
        name: "${{ steps.archive-image.outputs.EE_image_filename }}"
        path: "${{ steps.archive-image.outputs.EE_image_pathfilename }}"

    # - # Temp fix to prevent cache size keeps growing
    #   # https://docs.docker.com/build/ci/github-actions/cache/#local-cache
    #   name: Move cache
    #   run: |
    #     rm -rf /tmp/.buildx-cache-2
    #     mv /tmp/.buildx-cache-2-new /tmp/.buildx-cache-2
 