name: Build image on namespace

on:
  workflow_dispatch:
    inputs:
      os:
        description: 'OS to run against'
        required: true
        type: choice
        options:
          - bookworm
          - jammy
          - noble
          - plucky
          - sid
        default: jammy
      custom_os:
        description: 'Use the LE version of the OS?'
        required: true
        type: boolean
        default: false
      arch:
        description: 'Arch to run against'
        required: true
        type: choice
        options:
          - amd64
          - arm64
        default: amd64

run-name: ${{ format('{0} ({1}{3}/{2})', github.workflow, inputs.os, inputs.arch, (inputs.custom_os && '-libreelec' || '')) }}

env:
  DISTRO: EddictwareELEC
  PROJECT: RPi
  DEVICE: RPi4
  ARCH: aarch64
  BUILDER_NAME: Eddict
  BUILDER_VERSION: "13.0"
  INPUT_OS: ${{ inputs.os }}
  INPUT_ARCH: ${{ inputs.arch }}

  # -e DISABLE_COLORS=yes \
  # -e LOGCOMBINE=fail \
  # -e MTIMMEDIATE=no \
  # -e MTDEBUG=no \
  # -e MTVERBOSE=no \
  # -e MTPROGRESS=yes \
  # -e DISTRO=${{ env.Distro }} \
  # -e PROJECT=${{ env.Project }} \
  # -e DEVICE=${{ env.Device }} \
  # -e ARCH=${{ env.Arch }} \
  # -e BUILDER_NAME=Eddict \
  # -e BUILDER_VERSION="13.0-$(date +%Y%m%d)" \

jobs:
  build:
    # runs-on: namespace-profile-linux-arm64-libreelec # namespace-profile-linux-arm64-libreelec-max
      # - nscloud-ubuntu-22.04-arm64-32x64-with-cache
    runs-on: ${{ format('namespace-profile-{0}-{1}{2}-max', inputs.os, inputs.arch, (inputs.custom_os && '-libreelec' || '')) }}
    # runs-on: "namespace-profile-${{ inputs.os }}-${{ inputs.arch }}-libreelec-max"
    # runs-on: "namespace-profile-${{ inputs.os }}-${{ inputs.arch }}-max"
    # cannot use namespace-actions/upload-artifact with nscloud runners
    # https://namespace.so/docs/reference/github-actions/upload-artifact#prerequisites
    # runs-on: 
    #   - nscloud-ubuntu-22.04-${{ inputs.arch }}-8x16-with-cache
    #   - nscloud-git-mirror-5gb
    #   - nscloud-cache-tag-ee-${{ inputs.os }}-${{ inputs.arch }}-cache
    #   - nscloud-cache-size-50gb
      # - nscloud-container-image-cache
    permissions:
      id-token: write
      contents: read
    steps:
    # - name: Set BUILDER_VERSION with date
    #   shell: bash
    #   run: echo "BUILDER_VERSION=13.0-$(date +%Y%m%d)" >> $GITHUB_OUTPUT

    - name: Set BUILD_NAME
      id: set-build-name
      shell: bash
      run: echo "BUILD_NAME=${{ env.DISTRO }}-${{ env.DEVICE }}.${{ env.ARCH }}" >> $GITHUB_OUTPUT

    - name: Checkout repository
      uses: namespacelabs/nscloud-checkout-action@v7

    # - name: Set up APT cache
    #   uses: namespacelabs/nscloud-cache-action@v1
    #   with:
    #     cache: apt

    - name: Install LibreELEC dependencies
      shell: bash
      run: |
        export DEBIAN_FRONTEND="noninteractive"
        sudo apt update
        sudo apt -y upgrade
        sudo apt -y install bc curl g++ gcc git gperf make openjdk-11-jre-headless rsync unzip xfonts-utils xsltproc xz-utils zip
        sudo apt -y install rdfind libparse-yapp-perl libxml-parser-perl patchutils lzop gawk ccache

    - name: Set up cache
      uses: namespacelabs/nscloud-cache-action@v1
      with:
        fail-on-cache-miss: false
        path: |
          ${{ github.workspace }}/sources
          ${{ github.workspace }}/build.${{ steps.set-build-name.outputs.BUILD_NAME }}-${{ env.BUILDER_VERSION }}-devel/.ccache
          ${{ github.workspace }}/build.${{ steps.set-build-name.outputs.BUILD_NAME }}-${{ env.BUILDER_VERSION }}-devel/.stamps

    # - name: Download and cache package sources
    #   shell: bash
    #   run: |
    #     sudo ip link set mtu 1450 eth0
    #     tools/download-cleaner
    #     tools/download-tool

    - name: Compile the build
      shell: bash
      run: |
        uname -a
        export MAKEFLAGS="${MAKEFLAGS} --silent"
        echo "MAKEFLAGS=${MAKEFLAGS}"
        V=0 make image
        find ${{ github.workspace }} -type d -iname ".ccache"
        find ${{ github.workspace }} -maxdepth 3 -type f -iname "${{ steps.set-build-name.outputs.BUILD_NAME }}*.img.gz"
        find ${{ github.workspace }} -type f -iname ccache.conf

    - uses: namespace-actions/upload-artifact@v1
      with:
        name: "${{ steps.set-build-name.outputs.BUILD_NAME }}-${{ env.BUILDER_VERSION }} image"
        path: "${{ github.workspace }}/target/${{ steps.set-build-name.outputs.BUILD_NAME }}*.img.gz"
        compression-level: 0
