name: Build build Container on Depot

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to run against'
        required: true
        type: choice
        options:
          - bookworm
          - jammy
          - noble
          - plucky
          - sid
        default: noble

run-name: '${{ github.workflow }} (${{ github.event.inputs.environment }})'

env:
  DistroCodeName: ${{ inputs.environment }}

jobs:
  build:
    runs-on: depot-ubuntu-24.04-16
    # Permissions to use OIDC token authentication
    permissions:
      contents: read
      id-token: write
      # Allows pushing to the GitHub Container Registry
      packages: write
    steps:
    - uses: actions/checkout@v5
    - uses: depot/setup-action@v1
      # with:
      #   version: 'latest'
      #   # version: '0.10.3'
      #   # version: '0.9.1'
      #   # registry-url: ${{ secrets.DEPOT_REGISTRY_URL }}
      #   # token: ${{ secrets.DEPOT_TOKEN }}
      #   # token: ${{ secrets.DEPOT_READONLY_TOKEN }}
      #   token: ${{ secrets.DEPOT_WRITE_TOKEN }}
      #   # token: ${{ secrets.DEPOT_ADMIN_TOKEN }}
      #   install-depotctl: true

    - name: Compose image tag
      id: compose-image-tag
      run: |
        dTag="${{ env.DistroCodeName }}"
        # Use ,, to convert all characters to lowercase
        echo "EE_Distro_tag=${dTag,,}" >> $GITHUB_OUTPUT
      shell: bash

    - name: Build and export to (local/private) registry
      uses: depot/build-push-action@v1
      with:
        project: 4qqpxt59lq
        context: .
        file: tools/docker/${{ env.DistroCodeName }}/Dockerfile
        tags: ${{ steps.compose-image-tag.outputs.EE_Distro_tag }}:latest
        # build-args: |
        #   USER_UID=${{ steps.get-docker-guid.outputs.docker-guid }}
