name: Build image on namespace

on:
  workflow_dispatch:
    inputs:
      os:
        description: 'OS to run against'
        required: true
        type: choice
        options:
          - bookworm
          - jammy
          - noble
          - plucky
        default: jammy
      arch:
        description: 'Arch to run against'
        required: true
        type: choice
        options:
          - amd64
          - arm64
        default: amd64

run-name: ${{ format('{0} ({1}/{2})', github.workflow, inputs.os, inputs.arch) }}

env:
  DISTRO: EddictwareELEC
  PROJECT: RPi
  DEVICE: RPi4
  ARCH: aarch64
  BUILDER_NAME: Eddict
  BUILDER_VERSION: "13.0"
  BUILD_NAME:

  # -e DISABLE_COLORS=yes \
  # -e LOGCOMBINE=fail \
  # -e MTIMMEDIATE=no \
  # -e MTDEBUG=no \
  # -e MTVERBOSE=no \
  # -e MTPROGRESS=yes \
  # -e DISTRO=${{ env.Distro }} \
  # -e PROJECT=${{ env.Project }} \
  # -e DEVICE=${{ env.Device }} \
  # -e ARCH=${{ env.Arch }} \
  # -e BUILDER_NAME=Eddict \
  # -e BUILDER_VERSION="13.0-$(date +%Y%m%d)" \

jobs:
  build:
    # runs-on: namespace-profile-linux-arm64-libreelec # namespace-profile-linux-arm64-libreelec-max
      # - nscloud-ubuntu-22.04-arm64-32x64-with-cache
    runs-on: 
      - nscloud-ubuntu-22.04-${{ github.event.inputs.arch }}-4x16-with-cache
      - nscloud-git-mirror-5gb
      - nscloud-cache-tag-ee-cache
      - nscloud-cache-size-50gb
      # - nscloud-container-image-cache
    permissions:
      id-token: write
      contents: read
    steps:
    # - name: Set BUILDER_VERSION with date
    #   shell: bash
    #   run: echo "BUILDER_VERSION=13.0-$(date +%Y%m%d)" >> $GITHUB_OUTPUT

    - name: Set BUILD_NAME
      shell: bash
      run: echo "BUILD_NAME=${{ env.DISTRO }}-${{ env.DEVICE }}.${{ env.ARCH }}" >> $GITHUB_OUTPUT

    - name: Checkout repository
      uses: namespacelabs/nscloud-checkout-action@v7

    - name: Set up cache
      uses: namespacelabs/nscloud-cache-action@v1
      with:
        fail-on-cache-miss: false
        path: |
          ${{ github.workspace }}/sources
          ${{ github.workspace }}/build.${{ env.BUILD_NAME }}-${{ env.BUILDER_VERSION }}-devel/.ccache
          ${{ github.workspace }}/build.${{ env.BUILD_NAME }}-${{ env.BUILDER_VERSION }}-devel/.stamps

    - name: Install LibreELEC dependencies
      shell: bash
      run: |
        export DEBIAN_FRONTEND="noninteractive"
        sudo apt update
        sudo apt -y upgrade
        sudo apt -y install bc curl g++ gcc git gperf make openjdk-11-jre-headless rsync unzip xfonts-utils xsltproc xz-utils zip
        sudo apt -y install rdfind libparse-yapp-perl patchutils lzop

    - name: Set MTU for eth0
      shell: bash
      run: |
        ip link set mtu 1450 eth0

    # - name: Download and cache package sources
    #   shell: bash
    #   run: |
    #     tools/download-cleaner
    #     tools/download-tool

    - name: Compile the build
      shell: bash
      run: |
        make image
        find ${{ github.workspace }} -type d -iname ".ccache" \
        find ${{ github.workspace }} -maxdepth 3 -type f -iname "${{ env.BUILD_NAME }}*.img.gz" \
        find ${{ github.workspace }} -type f -iname ccache.conf

    - uses: namespace-actions/upload-artifact@v1
      with:
        name: "${{ env.BUILD_NAME }}-${{ env.BUILDER_VERSION }} image"
        path: "${{ github.workspace }}/target/${{ env.BUILD_NAME }}*.img.gz"
        compression-level: 0
