name: Build EddictwareELEC image in containerX

on:
  workflow_dispatch:
  push:
    branches: [ "master-entw" ]
  pull_request:
    branches: [ "master-entw" ]

env:
  DistroCodeName: noble
  EE_Distro: EddictwareELEC
  EE_Project: RPi
  EE_Device: RPi4
  EE_Arch: aarch64
  EE_Distro_tag: ""
  EE_image_pathfilename: ""
  EE_image_filename: ""
  NB_CORES: 1

jobs:
  info:
    runs-on: self-hosted
    if: 0 == 1
    steps:
    -
      name: Show github.event.pull_request.head.user.login
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
        JOB_CONTEXT: ${{ toJson(job) }}
        RUNNER_CONTEXT: ${{ toJson(runner) }}
        # STRATEGY_CONTEXT: ${{ toJson(strategy) }}
        # MATRIX_CONTEXT: ${{ toJson(matrix) }}
        LAST_COMMIT_USER: ${{ github.event.pull_request.head.user.login }}
        LAST_HEAD_COMMIT_AUTHOR: ${{ github.event.head_commit.author.username }}
        LAST_HEAD_COMMIT_COMMITTER: ${{ github.event.head_commit.committer.username }}
      run: |
        echo "LAST_COMMIT_USER: $LAST_COMMIT_USER"
        echo "LAST_HEAD_COMMIT_AUTHOR: $LAST_HEAD_COMMIT_AUTHOR"
        echo "LAST_HEAD_COMMIT_COMMITTER: $LAST_HEAD_COMMIT_COMMITTER"
        # exit 1

  pre-build:
    name: Pre-build
#    runs-on: github
    runs-on: self-hosted
    if: github.event.head_commit.author.username != 'Eddict' || github.event_name == 'workflow_dispatch'
      # && github.event_name != 'pull_request' && github.event_name != 'workflow_dispatch'
    env:
      BUILDKIT_PROGRESS: 'auto' #'plain' 'quiet'
    steps:
    -
      name: Get current directory
      id: get-pwd
      run: |
        echo "curdir=$PWD" >> $GITHUB_OUTPUT
      shell: bash

    -
      name: Get Date
      id: get-date
      run: |
        # echo "[date]: $(/bin/date -u "+%Y%m%d")"
        echo "date=$(/bin/date -u "+%Y%m%d")" >> $GITHUB_OUTPUT
      shell: bash

    # -
    #   name: Compose image tag
    #   id: compose-image-tag
    #   run: |
    #     # echo "EE_Distro_tag=${{ secrets.REGISTRY_FQDN }}/eddict/${DistroCodeName@L}" >> $GITHUB_OUTPUT
    #     echo "EE_Distro_tag=${{ secrets.REGISTRY_FQDN }}/eddict/${{ env.DistroCodeName }}" >> $GITHUB_OUTPUT

    -
      name: Get CPU info
      id: get-cpu-info
      run: |
        echo "NB_CORES=$(grep -c '^processor' /proc/cpuinfo)" >> $GITHUB_OUTPUT
      shell: bash

    -
      name: Checkout repository
      uses: actions/checkout@v5
      with:
        ref: 'master-entw'

    -
      name: Prepare build directory
      id: prepare-build-dir
      run: |
        echo "curdir: $PWD"
        chown -R docker:docker $PWD

        # docker login --username ${{ vars.DOCKERHUB_USERNAME }} --password ${{ secrets.DOCKERHUB_TOKEN }}
        # if [ "$(docker ps -aq -f status=exited -f name=build${{ env.EE_Distro }}.${{ env.DistroCodeName }})" ]; then
        #     # cleanup
        #     docker rm --force --volumes "build${{ env.EE_Distro }}.${{ env.DistroCodeName }}"
        # fi

    # Expose step outputs as job outputs
    outputs:
      output_get_pwd: ${{ steps.get-pwd.outputs.curdir }}
      output_get_cpu_info: ${{ steps.get-cpu-info.outputs.NB_CORES }}
     
  test:
    name: Test
    needs: pre-build
    runs-on: self-hosted
    steps:
      - name: Test step
        run: |
          # steps.compose-image-tag.outputs.EE_Distro_tag
          xEEDT=${{ needs.pre-build.outputs.output_ee_distro_tag }}
          echo "xEEDT=$xEEDT"
          NB_CORES=${{ needs.pre-build.outputs.output_get_cpu_info }}
          echo "NB_CORES=$NB_CORES"
          xNB_CORES=${{ needs.pre-build.outputs.output_get_cpu_info }}
          echo "xNB_CORES=$xNB_CORES"
          curdir=$(pwd) && echo "curdir: $curdir"
          encEEDT=${{ steps.decode-ee-distro-tag.outputs.out }}
          echo "encEEDT=$encEEDT"

  ghcli:
    name: Run gh cli
    runs-on: self-hosted
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GH_WSPACE: ${{ github.workspace }}
    steps:
      -
        name: Log in to (local/private) registry
        uses: docker/login-action@v3
        with:
          registry: "${{ secrets.REGISTRY_FQDN }}"
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_PWD }}

      - 
        name: gh-variable-list
        run: |
          homedir=~
          eval homedir=$homedir
          export HOME="$homedir"
          GIT_LOCAL="$PWD/.git/config"
          GIT_GLOBAL="$homedir/.gitconfig"
          echo "GIT_LOCAL: $GIT_LOCAL"
          echo "GIT_GLOBAL: $GIT_GLOBAL"
          echo "GH_WSPACE: $GH_WSPACE"
          echo "GITHUB_WORKSPACE: $GITHUB_WORKSPACE"
          GIT_CONFIG_GLOBAL=$homedir/.gitconfig
          git config --global --add safe.directory "$GH_WSPACE"
          # git config --file "$GIT_GLOBAL" --add safe.directory ${{ github.workspace }}
          # git config --file "$GIT_GLOBAL" --add safe.directory "$GITHUB_WORKSPACE"
          gh variable list

  build:
    name: Build
    runs-on: self-hosted
    needs: pre-build
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    container:
      image: abc
      credentials:
        username: ${{ secrets.REGISTRY_USER }}
        password: ${{ secrets.REGISTRY_PWD }}
      env:
        DISABLE_COLORS: yes
        LOGCOMBINE: fail
        MTIMMEDIATE: no
        MTDEBUG: no
        MTVERBOSE: no
        MTPROGRESS: yes
        DISTRO: ${{ env.EE_Distro }}
        PROJECT: ${{ env.EE_Project }}
        DEVICE: ${{ env.EE_Device }}
        ARCH: ${{ env.EE_Arch }}
        BUILDER_NAME: Eddict
        BUILDER_VERSION: "13.0-$(date +%Y%m%d)"
      volumes:
        - ${{ needs.pre-build.outputs.output_get_pwd }}:/build
      options: --log-driver none --workdir /build
    steps:
    - name: node
      continue-on-error: true
      run: node --version
    - name: npm
      continue-on-error: true
      run: npm --version
    -
      name: Build ${{ env.EE_Distro }} image
      run: |
        NB_CORES=${{ needs.pre-build.outputs.output_get_cpu_info }}
        echo "NB_CORES=$NB_CORES"
        echo "whoami=$(whoami)"
        echo "hostname=$(hostname)"
        curdir=$(pwd) && echo "curdir: $curdir"
        # run the build
        #   make -j$((NB_CORES+1)) -l${NB_CORES} image

  post-build:
    name: Post-build
    runs-on: self-hosted
    needs: build
    steps:
    -
      name: Copy built ${{ env.EE_Distro }} image to archive
      id: archive-image
      run: |
        debug=true
        [ "$debug" = true ] && echo "[pwd]: $PWD"
        if [ -d $PWD/target ]; then
          lines=$(find $PWD/target -maxdepth 1 -type f -iname "${{ env.EE_Distro }}-${{ env.EE_Device }}.${{ env.EE_Arch }}*.img.gz" 2>/dev/null | wc -l)
          [ "$debug" = true ] && echo "[lines]: $lines"
          if [ $lines -ne 0 ]; then
            pathfilename=$(ls -t $PWD/target/${{ env.EE_Distro }}-${{ env.EE_Device }}.${{ env.EE_Arch }}*.img.gz | head --lines=1)
            [ "$debug" = true ] && echo "[EE_image_pathfilename]: $pathfilename"
            echo "EE_image_pathfilename=$pathfilename" >> $GITHUB_OUTPUT
            filename="${pathfilename##*/}"
            [ "$debug" = true ] && echo "[EE_image_filename]: $filename"
            echo "EE_image_filename=$filename" >> $GITHUB_OUTPUT
            if [ ! -d /root/target_archive ]; then
              mkdir --parents "/root/target_archive"
            fi
            if [ "$(cp "$pathfilename" "/root/target_archive")" ]; then # --update=older
              echo "Copied built image to /root/target_archive"
            else
              echo "No newer built image to copy to /root/target_archive"
            fi
          else
            echo "No built image found in target directory, skipping copy."
          fi
        else
          echo "No target directory found, skipping copy of built image."
        fi

    - 
      name: Upload built ${{ env.EE_Distro }} image
      id: upload-image
      if: ${{ steps.image-path.outputs.EE_image_pathfilename }} != ''
      uses: actions/upload-artifact@v4
      with:
        name: "${{ steps.image-path.outputs.EE_image_filename }}"
        path: "${{ steps.image-path.outputs.EE_image_pathfilename }}"

    # - # Temp fix to prevent cache size keeps growing
    #   # https://docs.docker.com/build/ci/github-actions/cache/#local-cache
    #   name: Move cache
    #   run: |
    #     rm -rf /tmp/.buildx-cache-2
    #     mv /tmp/.buildx-cache-2-new /tmp/.buildx-cache-2
 