name: Build image in container job

on:
  workflow_dispatch:
    inputs:
      runner:
        description: 'Runner to run against'
        required: true
        type: choice
        options:
          - self-hosted
          - github
        default: github
      environment:
        description: 'Environment to run against'
        required: true
        type: choice
        options:
          - bookworm
          - jammy
          - noble
          - noble-custom
          - plucky
          - questing
          - sid
          - sid-custom
        default: noble
  # pull_request:
  #   branches: [ "master-entw" ]
  #   paths-ignore: *exclude_paths

  # push:
  #   branches: [ "master-entw" ]
  #   paths-ignore: &exclude_paths # set YAML anchors for reuse
  #     - '*'
  #     - '.github/actions/**'
  #     - '.github/actions/javascript/**'
  #     - '.github/workflows/**'
  #     - '!.github/workflows/build-EddictwareELEC-in-container.yml'
  #     - 'tools/docker/**'
    
run-name: ${{ format('{0} ({1} - {2})', github.workflow, inputs.environment || 'noble', github.event_name) }}

env:
  DistroCodeName: ${{ inputs.environment || 'noble' }}
  BUILDER_NAME: ${{ github.repository_owner }}
  BUILDER_VERSION: ""
  BUILD_BASE: ""
  EE_Distro: EddictwareELEC
  EE_Project: RPi
  EE_Device: RPi4
  EE_Arch: aarch64
  # EE_Distro_tag: ""
  EE_image_pathfilename: ""
  EE_image_filename: ""
  EE_Registry: ghcr.io
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  # HOME: ""
  ACTIONS_RUNNER_DEBUG: true

defaults:
  run:
    shell: bash

jobs:
  runner:
    name: Set workflow runner
    if: ${{ always() }}
    runs-on: ${{ inputs.runner == 'github' && 'ubuntu-latest' || inputs.runner }}
    permissions:
      contents: read
      packages: read
      attestations: read
      id-token: write
    outputs:
      # runner: ${{ steps.echo_runner.outputs.WF_RUNNER }}
      runner: ${{ inputs.runner == 'github' && 'ubuntu-latest' || inputs.runner }}
    steps:
      - name: echo the runner
        id: echo_runner
        if: ${{ 0 == 1 }}
        run: |
          debug=false
          # https://docs.github.com/en/actions/reference/workflows-and-actions/contexts#runner-context
          [ "$debug" = true ] && echo "runner.name: ${{ runner.name }}"
          [ "$debug" = true ] && echo "runner.os: ${{ runner.os }}"
          [ "$debug" = true ] && echo "runner.arch: ${{ runner.arch }}"
          [ "$debug" = true ] && echo "runner.temp: ${{ runner.temp }}"
          [ "$debug" = true ] && echo "runner.tool_cache: ${{ runner.tool_cache }}"
          [ "$debug" = true ] && echo "runner.debug: ${{ runner.debug }}"
          [ "$debug" = true ] && echo "runner.environment: ${{ runner.environment }}"
          # WF_RUNNER="${{ format('[{0}, {1}]', runner.environment, runner.name) }}"
          # [ "$debug" = true ] && echo "WF_RUNNER=$WF_RUNNER" | sudo tee -a $GITHUB_OUTPUT
          # [ "$debug" = true ] && echo "selected runner: $WF_RUNNER"
          [ "$debug" = true ] && echo "selected runner: ${{ runner.environment }}"
        # runner: ${{ runner.name }}
        # runner: ${{ format('[{0}, {1}]', runner.environment, runner.name) }}
        # runner: [self-hosted, "${{ inputs.chosen-os }}"]

  pre-build:
    name: Pre-build
    needs: runner
    runs-on: ${{ needs.runner.outputs.runner }}
    if: github.event.head_commit.author.username != '${{ github.repository_owner }}' || github.event.head_commit.message == 'Merge branch ''LibreELEC:master'' into master-entw' || github.event_name == 'workflow_dispatch'
      # && github.event_name != 'pull_request' && github.event_name != 'workflow_dispatch'
    permissions:
      contents: read
      packages: read
      attestations: read
      id-token: write
    env:
      BUILDKIT_PROGRESS: 'auto' #'plain' 'quiet'
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      HOME: ""
    outputs:
      output_set_builder_version: ${{ steps.get-env-vars.outputs.output_set_builder_version }}
      output_get_pwd: ${{ steps.get-env-vars.outputs.output_get_pwd }}
      output_get_cpu_info: ${{ steps.get-env-vars.outputs.output_get_cpu_info }}
      output_get_distro_tag: ${{ steps.compose-image-tag.outputs.EE_Distro_tag }}
      output_meta_tags: ${{ steps.meta.outputs.tags }}
    steps:
    - name: Checkout repository scripts
      uses: actions/checkout@v5
      with:
        ref: ${{ github.event.repository.default_branch }}
        path: ${{ github.workspace }}
        clean: false # otherwise .ccache subfolder gets deleted
        show-progress: false
        set-safe-directory: true # this is the default, but just to be sure
        sparse-checkout: |
          .github/actions/composite
          .github/actions/scripts
#        sparse-checkout-cone-mode: false
#        path: .
#        filter: .github/actions/scripts

    - name: Initialize environment
      id: set-multi
      run: |
        .github/actions/scripts/set_multi.sh ${{ runner.temp }}
        .github/actions/scripts/set_multi.sh

    - name: Checkout repository
      uses: actions/checkout@v5
      with:
        ref: ${{ github.event.repository.default_branch }}
        path: ${{ github.workspace }}

    - uses: ./.github/actions/composite/init-env-vars
      id: get-env-vars
      name: Init environment variables
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Compose image tag
      id: compose-image-tag
      run: |
        dTag="${{ env.EE_Registry }}/eddict/${{ env.EE_Distro }}-${DistroCodeName@L}"
        # Use ,, to convert all characters to lowercase
        echo "EE_Distro_tag=${dTag,,}" | sudo tee -a $GITHUB_OUTPUT
        # run: echo "backend_image=${REGISTRY}/${IMAGE_NAME}:${IMAGE_TAG}" >> $GITHUB_OUTPUT

    - name: Login to (private) Registry
      uses: docker/login-action@v3
      with:
        registry: ${{ env.EE_Registry }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract Docker metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        context: workflow
        images: name=${{ steps.compose-image-tag.outputs.EE_Distro_tag }},enable=true
        # images: name=${{ secrets.REGISTRY_FQDN }}/${{ github.repository_owner }}/${{ env.DistroCodeName }},enable=true
        tags: type=raw,value=latest
        # flavor: latest=true

    - name: Echo Docker metadata
      id: echo-meta
      run: |
        echo "steps.meta.outputs.version = ${{ steps.meta.outputs.version }}"
        echo "steps.meta.outputs.tags = ${{ steps.meta.outputs.tags }}"
        echo "steps.meta.outputs.labels = ${{ steps.meta.outputs.labels }}"
        echo "steps.meta.outputs.annotations = ${{ steps.meta.outputs.annotations }}"
        echo "steps.meta.outputs.json = ${{ steps.meta.outputs.json }}"

    - name: Prepare build directory
      id: prepare-build-dir
      if: ${{ 0 == 1 }}
      run: |
        debug=false
        [ "$debug" = true ] && echo "[pwd]: $PWD"
        [ "$debug" = true ] && ls -al $PWD
        [ "$debug" = true ] && echo "github.workspace: ${{ github.workspace }}"
        [ "$debug" = true ] && ls -al ${{ github.workspace }}
        [ "$debug" = true ] && export
        [ "$debug" = true ] && echo "output_get_pwd: ${{ steps.get-env-vars.outputs.output_get_pwd }}"
        [ "$debug" = true ] && ls -al ${{ steps.get-env-vars.outputs.output_get_pwd }}
        [ "$debug" = true ] && echo "output_get_distro_tag: ${{ steps.get-env-vars.outputs.output_get_distro_tag }}"
        [ "$debug" = true ] && echo "output_set_builder_version: ${{ steps.get-env-vars.outputs.output_set_builder_version }}"
        [ "$debug" = true ] && echo "whoami: $(whoami)"
        # echo "uid: $(id -u)"
        # echo "gid: $(id -g)"
        # cat /etc/passwd | grep docker || echo "docker user not found"
        # cat /etc/group | grep docker || echo "docker group not found"
        # echo "/etc/passwd"
        # cat /etc/passwd 
        # echo "/etc/group"
        # cat /etc/group
        [ "$debug" = true ] && echo "EE_Distro_tag: ${{ steps.compose-image-tag.outputs.EE_Distro_tag }}"
        # chown -R $(whoami):docker $PWD

        # docker login --username ${{ vars.DOCKERHUB_USERNAME }} --password ${{ secrets.DOCKERHUB_TOKEN }}
        # if [ "$(docker ps -aq -f status=exited -f name=build${{ env.EE_Distro }}.${{ env.DistroCodeName }})" ]; then
        #     # cleanup
        #     docker rm --force --volumes "build${{ env.EE_Distro }}.${{ env.DistroCodeName }}"
        # fi

    # https://stackoverflow.com/a/57877438
    # - uses: actions/upload-artifact@v4
    #   with:
    #     name: artifact-${{ env.BUILDER_VERSION }}
    #     path: ${{ steps.get-env-vars.outputs.output_get_pwd }}

  build:
    name: Build
    runs-on: ${{ needs.runner.outputs.runner }}
    permissions:
      actions: write
      contents: read
      packages: read
      attestations: read
      id-token: write
    needs:
      - runner
      - pre-build
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      HOME: ""
      BUILDER_VERSION: ${{ needs.pre-build.outputs.output_set_builder_version }}
      EE_Distro_tag: ${{ needs.pre-build.outputs.output_get_distro_tag }}
    container:
      # options: --user docker --log-driver local --workdir /build # --name "build.${{ env.EE_Distro }}.${{ env.DistroCodeName }}" # --user root
      image: ${{ needs.pre-build.outputs.output_meta_tags }}
      # image: ${{ needs.repo-login.outputs.output_meta_tags }}
      # image: eu.gcr.io/path/to/image:tag
      # image: ${{ needs.build.outputs.image_tag }}
      # image: "${{ needs.repo-login.outputs.output_get_RFQDN }}/eddict/noble" # $EE_DT:latest
      # image: '::add-mask::ghcr.io/owner/image' # $EE_DT:latest
      # image: ${{ vars.REGISTRY_FQDN }}/eddict/noble
      # image: ${{ needs.repo-login.outputs.output_get_RFQDN }}/eddict/noble
      credentials:
        # username: ${{ secrets.REGISTRY_USER }}
        # password: ${{ secrets.REGISTRY_PWD }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
      env:
        # DEBUG: no
        # LOCAL_CCACHE: yes
        DISABLE_COLORS: no
        MTCOLORS: auto
        ONELOG: no
        LOGCOMBINE: fail
        MTIMMEDIATE: no
        MTDEBUG: no
        MTVERBOSE: no
        MTPROGRESS: no
        DISTRO: ${{ env.EE_Distro }}
        PROJECT: ${{ env.EE_Project }}
        DEVICE: ${{ env.EE_Device }}
        ARCH: ${{ env.EE_Arch }}
        BUILDER_NAME: ${{ env.BUILDER_NAME }}
        BUILDER_VERSION: ${{ env.BUILDER_VERSION }}
        BUILD_BASE: "build.${{ env.DistroCodeName }}"
      volumes:
        - ${{ needs.pre-build.outputs.output_get_pwd }}:/build:rw
    defaults:
      run:
        working-directory: /build

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
      with:
        ref: ${{ github.event.repository.default_branch }}
        path: ${{ github.workspace }}

    - name: Build ${{ env.EE_Distro }} image
      id: build-image
      # if: ${{ 0 == 1 }}
      run: |
        debug=false
        [ "$debug" = true ] && echo "[pwd]: $PWD"
        [ "$debug" = true ] && ls -al $PWD
        [ "$debug" = true ] && export
        # [ "$debug" = true ] && echo "output_get_pwd: ${{ needs.pre-build.outputs.output_get_pwd }}"
        # [ "$debug" = true ] && ls -al ${{ needs.pre-build.outputs.output_get_pwd }}
        [ "$debug" = true ] && echo "output_get_distro_tag: ${{ needs.pre-build.outputs.output_get_distro_tag }}"
        [ "$debug" = true ] && echo "output_set_builder_version: ${{ needs.pre-build.outputs.output_set_builder_version }}"
        debug=true
        [ "$debug" = true ] && echo "output_get_cpu_info: ${{ needs.pre-build.outputs.output_get_cpu_info }}"
        [ "$debug" = true ] && echo "NB_CORES: ${NB_CORES}"
        # run the build
        make -j$((NB_CORES+1)) -l${NB_CORES} image
        # make image # ${{ needs.pre-build.outputs.output_get_cpu_info }}

    # https://stackoverflow.com/a/57877438
    - uses: actions/upload-artifact@v4
      if: always() && (steps.build-image.outcome == 'failure')
      with:
        name: artifact_logs_${{ env.EE_Distro }}-${{ env.EE_Device }}.${{ env.EE_Arch }}
        path: /build/build.${{ env.EE_Distro }}-${{ env.EE_Device }}.${{ env.EE_Arch }}-13.0-devel/.threads/logs/*.log
        overwrite: true
        include-hidden-files: true

    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: artifact_cache_${{ env.EE_Distro }}-${{ env.EE_Device }}.${{ env.EE_Arch }}
        path: |
          /build/build.${{ env.EE_Distro }}-${{ env.EE_Device }}.${{ env.EE_Arch }}-13.0-devel/.cache_package_global
          /build/build.${{ env.EE_Distro }}-${{ env.EE_Device }}.${{ env.EE_Arch }}-13.0-devel/.ccache/
          /build/build.${{ env.EE_Distro }}-${{ env.EE_Device }}.${{ env.EE_Arch }}-13.0-devel/.stamps/
          /sources/
        overwrite: true
        include-hidden-files: true

  post-build:
    name: Post-build
    runs-on: ${{ needs.runner.outputs.runner }}
    needs:
      - runner 
      - build
    steps:
    - name: Copy built ${{ env.EE_Distro }} image to archive
      id: archive-image
      run: |
        debug=true
        [ "$debug" = true ] && echo "[pwd]: $PWD"
        if [ -d $PWD/target ]; then
          lines=$(find $PWD/target -maxdepth 1 -type f -iname "${{ env.EE_Distro }}-${{ env.EE_Device }}.${{ env.EE_Arch }}*.img.gz" 2>/dev/null | wc -l)
          [ "$debug" = true ] && echo "[lines]: $lines"
          if [ $lines -ne 0 ]; then
            pathfilename=$(ls -t $PWD/target/${{ env.EE_Distro }}-${{ env.EE_Device }}.${{ env.EE_Arch }}*.img.gz | head --lines=1)
            [ "$debug" = true ] && echo "[EE_image_pathfilename]: $pathfilename"
            echo "EE_image_pathfilename=$pathfilename" | sudo tee -a $GITHUB_OUTPUT
            filename="${pathfilename##*/}"
            [ "$debug" = true ] && echo "[EE_image_filename]: $filename"
            echo "EE_image_filename=$filename" | sudo tee -a $GITHUB_OUTPUT
            if [ ! -d /root/target_archive ]; then
              mkdir --parents "/root/target_archive"
            fi
            if [ "$(cp "$pathfilename" "/root/target_archive")" ]; then # --update=older
              echo "Copied built image to /root/target_archive"
            else
              echo "No newer built image to copy to /root/target_archive"
            fi
          else
            echo "No built image found in target directory, skipping copy."
          fi
        else
          echo "No target directory found, skipping copy of built image."
        fi

    - name: Upload built ${{ env.EE_Distro }} image
      id: upload-image
      if: ${{ steps.archive-image.outputs.EE_image_pathfilename }} != ''
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      uses: actions/upload-artifact@v4
      with:
        name: "${{ steps.archive-image.outputs.EE_image_filename }}"
        path: "${{ steps.archive-image.outputs.EE_image_pathfilename }}"
