name: Build Container for building EddictwareELEC images

on:
  workflow_dispatch:
  push:
    branches: [ "master-entw" ]
  pull_request:
    branches: [ "master-entw" ]

env:
  DistroCodeName: noble
  EE_Distro: EddictwareELEC
  EE_Project: RPi
  EE_Device: RPi4
  EE_Arch: aarch64
  EE_image_pathfilename:
  EE_image_filename:

jobs:
  info:
    runs-on: self-hosted
    if: 0 == 1
    steps:
    - 
      name: Show github.event.pull_request.head.user.login
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
        JOB_CONTEXT: ${{ toJson(job) }}
        RUNNER_CONTEXT: ${{ toJson(runner) }}
        STRATEGY_CONTEXT: ${{ toJson(strategy) }}
        MATRIX_CONTEXT: ${{ toJson(matrix) }}
        LAST_COMMIT_USER: ${{ github.event.pull_request.head.user.login }}
        LAST_HEAD_COMMIT_AUTHOR: ${{ github.event.head_commit.author.username }}
        LAST_HEAD_COMMIT_COMMITTER: ${{ github.event.head_commit.committer.username }}
      run: |
        echo "LAST_COMMIT_USER: $LAST_COMMIT_USER"
        echo "LAST_HEAD_COMMIT_AUTHOR: $LAST_HEAD_COMMIT_AUTHOR"
        echo "LAST_HEAD_COMMIT_COMMITTER: $LAST_HEAD_COMMIT_COMMITTER"
        # exit 1
  build:
#    runs-on: github
    runs-on: self-hosted
    if: github.event.head_commit.author.username != 'Eddict' || github.event_name == 'workflow_dispatch'
      # && github.event_name != 'pull_request' && github.event_name != 'workflow_dispatch'
    env:
      BUILDKIT_PROGRESS: 'auto' #'plain' 'quiet'
    steps:
    - 
      name: Get Date
      id: get-date
      run: |
        # echo "[date]: $(/bin/date -u "+%Y%m%d")"
        echo "date=$(/bin/date -u "+%Y%m%d")" >> $GITHUB_OUTPUT
      shell: bash

    - 
      name: Get docker guid
      id: get-docker-guid
      run: |
        echo "docker-guid=$(id -u docker)" >> $GITHUB_OUTPUT
      shell: bash

    - 
      name: Compose image tag
      id: compose-image-tag
      run: |
        echo "EE_Distro_tag=eddict/${EE_Distro@L}.${DistroCodeName}" >> $GITHUB_OUTPUT
      shell: bash

    # -
    #   name: Build Docker image
    #   uses: actions/checkout@v4
    #   with:
    #     ref: 'master-entw'

    - 
      name: Log in to (local/private) registry
      uses: docker/login-action@v3
      with:
        registry: "${{ secrets.REGISTRY_FQDN }}"
        username: ${{ secrets.REGISTRY_USER }}
        password: ${{ secrets.REGISTRY_PWD }}

    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        name: builder-eddictwareelec
        version: latest
        # keep-state: true
        cleanup: true
        # https://github.com/moby/buildkit/blob/master/docs/buildkitd.toml.md
        buildkitd-config-inline: |
          debug = false
          [registry."${{ secrets.REGISTRY_FQDN }}"]
            http = false
#        buildkitd-flags: '"--progress ''plain''"'
    - 
      name: Cache Docker layers
      uses: actions/cache@v4
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-${{ github.repository }}-${{ github.ref_name }}-${{ github.sha }}
        restore-keys: ${{ runner.os }}-${{ github.repository }}-${{ github.ref_name }}
    -
      name: Build and export to (local/private) registry
      uses: docker/build-push-action@v6
      with:
        file: tools/docker/${{ env.DistroCodeName }}/Dockerfile
        tags: ${{ steps.compose-image-tag.outputs.EE_Distro_tag }}
        build-args: |
          USER_UID=${{ steps.get-docker-guid.outputs.docker-guid }}
#          --progress=plain
#          DOCKER_BUILDKIT=0
        no-cache: false
        # cache-from: type=registry,ref=${{ vars.DOCKER_HUB_USERNAME }}/${{ vars.DOCKER_HUB_IMAGE_NAME }}.1:buildcache
        # cache-to: type=registry,ref=${{ vars.DOCKER_HUB_USERNAME }}/${{ vars.DOCKER_HUB_IMAGE_NAME }}.1:buildcache,mode=max
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,mode=max,dest=/tmp/.buildx-cache-new
        # cache-from: type=local,src=${{ runner.temp }}/.buildx-cache
        # cache-to: type=local,dest=${{ runner.temp }}/.buildx-cache-new,mode=max

    - # Temp fix to prevent cache size keeps growing
      # https://docs.docker.com/build/ci/github-actions/cache/#local-cache
      name: Move cache
      run: |
        rm -rf /tmp/.buildx-cache
        mv /tmp/.buildx-cache-new /tmp/.buildx-cache
        # rm -rf ${{ runner.temp }}/.buildx-cache
        # mv ${{ runner.temp }}/.buildx-cache-new ${{ runner.temp }}/.buildx-cache

    - 
      name: Build ${{ env.EE_Distro }} image
      env: 
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        chown -R docker:docker $PWD
        docker login --username ${{ vars.DOCKERHUB_USERNAME }} --password ${{ secrets.DOCKERHUB_TOKEN }}
        if [ "$(docker ps -aq -f status=exited -f name=build${{ env.EE_Distro }}.${{ env.DistroCodeName }})" ]; then
            # cleanup
            docker rm --force --volumes "build${{ env.EE_Distro }}.${{ env.DistroCodeName }}"
        fi
        # run the container
        docker run --rm \
          --log-driver none \
          --name "build${{ env.EE_Distro }}.${{ env.DistroCodeName }}" \
          -v $PWD:/build \
          -w /build \
          -e DISABLE_COLORS=yes \
          -e LOGCOMBINE=fail \
          -e MTIMMEDIATE=no \
          -e MTDEBUG=no \
          -e MTVERBOSE=no \
          -e MTPROGRESS=yes \
          -e DISTRO=${{ env.EE_Distro }} \
          -e PROJECT=${{ env.EE_Project }} \
          -e DEVICE=${{ env.EE_Device }} \
          -e ARCH=${{ env.EE_Arch }} \
          -e BUILDER_NAME=Eddict \
          -e BUILDER_VERSION="13.0-$(date +%Y%m%d)" \
          "${{ secrets.REGISTRY_FQDN }}/${{ steps.compose-image-tag.outputs.EE_Distro_tag }}" make image

    - 
      name: Copy built ${{ env.EE_Distro }} image to archive
      id: image-path
      run: |
        debug=true
        [ "$debug" = true ] && echo "[pwd]: $PWD"
        if [ -d $PWD/target ]; then
          lines=$(find $PWD/target -maxdepth 1 -type f -iname "${{ env.EE_Distro }}-${{ env.EE_Device }}.${{ env.EE_Arch }}*.img.gz" 2>/dev/null | wc -l)
          [ "$debug" = true ] && echo "[lines]: $lines"
          if [ $lines -ne 0 ]; then
            pathfilename=$(ls -t $PWD/target/${{ env.EE_Distro }}-${{ env.EE_Device }}.${{ env.EE_Arch }}*.img.gz | head --lines=1)
            [ "$debug" = true ] && echo "[EE_image_pathfilename]: $pathfilename"
            echo "EE_image_pathfilename=$pathfilename" >> $GITHUB_OUTPUT
            filename="${pathfilename##*/}"
            [ "$debug" = true ] && echo "[EE_image_filename]: $filename"
            echo "EE_image_filename=$filename" >> $GITHUB_OUTPUT
            if [ ! -d /root/target_archive ]; then
              mkdir --parents "/root/target_archive"
            fi
            if [ "$(cp "$pathfilename" "/root/target_archive")" ]; then # --update=older 
              echo "Copied built image to /root/target_archive"
            else
              echo "No newer built image to copy to /root/target_archive"
            fi
          else
            echo "No built image found in target directory, skipping copy."
          fi
        else
          echo "No target directory found, skipping copy of built image."
        fi

    - name: Upload built ${{ env.EE_Distro }} image
      if: steps.image-path.outputs.EE_image_pathfilename != ''
      uses: actions/upload-artifact@v4
      with:
        name: "${{ steps.image-path.outputs.EE_image_filename }}"
        path: "${{ steps.image-path.outputs.EE_image_pathfilename }}"
