name: Build prebuilt toolchain image

on:
  # push:
  #   paths:
  #     - 'packages/**'
  #     - 'tools/docker/noble/**'
  workflow_dispatch:
    inputs:
      runner:
        description: 'Runner to run against'
        required: true
        type: choice
        options:
          - self-hosted
          - github
        default: self-hosted
      distro:
        description: 'Distro codename'
        required: true
        default: noble
      arch:
        description: 'Target arch'
        required: true
        default: aarch64
      debug:
        description: 'Enable debug build'
        required: true
        type: boolean
        default: false

run-name: ${{ format('{0} ({1}/{2}/{3}{4})', github.workflow, inputs.runner || 'self-hosted', inputs.os || 'noble', inputs.arch || 'aarch64', inputs.debug && '/debug' || '') }}

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ${{ (inputs.runner == 'github' && 'ubuntu-latest' || inputs.runner) || 'self-hosted' }}
    permissions:
      contents: read
      packages: write
    env:
      IMAGE_NAME: eddictwareelec-prebuilt
      EE_REGISTRY: ghcr.io
      EE_REGISTRY_OWNER:
      EE_Distro: EddictwareELEC
      EE_Project: RPi
      EE_Device: RPi4
      EE_Arch: ${{ inputs.arch || 'aarch64' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up QEMU (for cross-platform build)
        uses: docker/setup-qemu-action@v2

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.EE_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Correct Repository Owner casing in Image Tag
        id: correct-repo-owner-tag
        run: |
          registry_owner="${{ github.repository_owner }}"
          echo "EE_REGISTRY_OWNER=${registry_owner,,}" | sudo tee -a $GITHUB_ENV

      # - name: Set up Docker Buildx (container driver)
      #   uses: docker/setup-buildx-action@v3
      #   with:
      #     driver: docker-container
      #     buildkitd-flags: ${{ inputs.debug && '--debug' || '' }}

      - name: Build and push prebuilt image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: tools/docker/noble-custom/prebuilt-toolchain.Dockerfile
          platforms: linux/amd64
          # platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ env.EE_REGISTRY }}/${{ env.EE_REGISTRY_OWNER }}/${{ env.IMAGE_NAME }}:${{ inputs.distro }}-${{ inputs.arch }}
          build-args: |
            BASE_IMAGE=${{ env.EE_REGISTRY }}/${{ env.EE_REGISTRY_OWNER }}/eddictwareelec-${{ inputs.distro }}:latest
            EE_Distro=${{ inputs.distro }}
            EE_Project=RPi
            EE_Device=RPi4
            EE_Arch=${{ inputs.arch }}