name: Schedule jobs for EddictwareELEC

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */2 * * *'  # every 2 hours
#    - cron: '30 5,17 * * 2,4'

jobs:
  two-hours-schedule:
    runs-on: ubuntu-latest #ubuntu-latest self-hosted
    if: github.event.schedule == '0 */2 * * *' || github.event_name == 'workflow_dispatch'
    env:
      GH_TOKEN: ${{ secrets.GH_RUNNER_TOKEN }}
    steps:
      - name: Checkout repository scripts
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.repository.default_branch }}

      - name: Sync from LibreELEC master
        run: |
          if gh repo sync Eddict/EddictwareELEC -b master-entw; then
            echo "Sync successful"
            git status
            git branch -a
            git push ghfork master-entw --follow-tags
            git push ghfork --tags
          else
            echo "Sync failed"
            # exit 1
          fi
