name: Schedule jobs for EddictwareELEC

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */2 * * *'  # every 2 hours
    - cron: '0 18 * * *' # daily at 18:00

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  UPSTREAM_REPO: 'LibreELEC/LibreELEC.tv'

jobs:
  daily:
    runs-on: ubuntu-latest #ubuntu-latest self-hosted
    if: github.event.schedule == '0 18 * * *' || github.event_name == 'workflow_dispatch'
    # if: 0 == 1
    steps:
      - name: Cleanup old workflow runs
        run: |
          curDateTime=$(date)
          calcDateTime=$(date -d "$curDateTime - 1 day")
          calcEpoch=$(date -d "$calcDateTime" +%s)

          echo "Current date and time: $curDateTime"
          echo "Calculated date and time (24 hours ago): $calcDateTime"
          echo "Calculated epoch time: $calcEpoch"

          jq_filter='[ .workflow_runs[] | {id, name, display_title, conclusion, created_at} + {"creat_epoch": ((.created_at) | fromdateiso8601?)} | select(.creat_epoch < $calc_epoch) ]'
          echo "JQ filter: $jq_filter"
          jq_filter=$(echo $jq_filter | sed "s/\$calc_epoch/$calcEpoch/")
          echo "Updated JQ filter: $jq_filter"

          workflowRuns=$(gh api repos/${{ github.repository }}/actions/runs --paginate --jq "$jq_filter")
          for runId in $(echo $workflowRuns | jq -r '.[].id'); do
            echo "Deleting workflow run ID: $runId"
            gh api repos/${{ github.repository }}/actions/runs/$runId -X DELETE
            # sleep 2s
          done
          echo "Cleanup completed."

  every-two-hours:
    runs-on: ubuntu-latest #ubuntu-latest self-hosted
    if: github.event.schedule == '0 */2 * * *' || github.event_name == 'workflow_dispatch'
    # if: 0 == 1
    steps:
      - name: Checkout repository scripts
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.repository.default_branch }}

      - name: Sync from LibreELEC master
        run: |
          remote_sha=$(git ls-remote https://github.com/${{ env.UPSTREAM_REPO }}.git refs/heads/master | awk '{print $1}') #  HEAD | awk '{print substr($1,1,8)}
          if git show $remote_sha --shortstat &> /dev/null; then
            echo "Already up to date with ${{ env.UPSTREAM_REPO }} (sha: $remote_sha)"
            exit 0
          else
            echo "Not up to date with ${{ env.UPSTREAM_REPO }} (sha: $remote_sha), syncing..."
            last_sha=$(git rev-parse --short @)
            echo "Current sha: $last_sha"
            if gh repo sync ${{ github.repository }} -b ${{ github.event.repository.default_branch }}; then
              # new_sha=$(git rev-parse --short @)
              echo "Sync successful"
              git push origin ${{ github.event.repository.default_branch }} --follow-tags
              # git push origin --tags

              gh workflow run build-eddictwareelec-in-containerX.yml
            else
              echo "Sync failed"
              # exit 1
            fi
          fi
