name: Schedule jobs for EddictwareELEC

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */8 * * *'  # every 8 hours
    - cron: '0 18 * * *' # daily at 18:00

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  THIS_REMOTE: 'origin'
  UPSTREAM_REPO: 'LibreELEC/LibreELEC.tv'
  UPSTREAM_REMOTE: 'upstream'
  UPSTREAM_BRANCH: 'master'

jobs:
  daily:
    runs-on: ubuntu-latest #ubuntu-latest self-hosted
    if: github.event.schedule == '0 18 * * *' || github.event_name == 'workflow_dispatch'
    # if: 0 == 1
    name: Jobs to run daily
    steps:
      - name: Cleanup old workflow runs
        run: |
          debug=false
          curDateTime=$(date)
          calcDateTime=$(date -d "$curDateTime - 1 day")
          calcEpoch=$(date -d "$calcDateTime" +%s)

          [ "$debug" = true ] && echo "Current date and time: $curDateTime"
          [ "$debug" = true ] && echo "Calculated date and time (24 hours ago): $calcDateTime"
          [ "$debug" = true ] && echo "Calculated epoch time: $calcEpoch"

          jq_filter='[ .workflow_runs[] | {id, name, display_title, conclusion, created_at} + {"creat_epoch": ((.created_at) | fromdateiso8601?)} | select(.creat_epoch < $calc_epoch) ]'
          jq_filter=$(echo $jq_filter | sed "s/\$calc_epoch/$calcEpoch/")
          [ "$debug" = true ] && echo "Updated JQ filter: $jq_filter"

          workflowRuns=$(gh api repos/${{ github.repository }}/actions/runs --paginate --jq "$jq_filter")
          for runId in $(echo $workflowRuns | jq -r '.[].id'); do
            echo "Deleting workflow run ID: $runId"
            gh api repos/${{ github.repository }}/actions/runs/$runId -X DELETE
            # sleep 2s
          done
          echo "Cleanup completed."

  every-n-hours:
    runs-on: ubuntu-latest #ubuntu-latest self-hosted
    if: github.event.schedule == '0 */8 * * *' || github.event_name == 'workflow_dispatch'
    # if: 0 == 1
    name: Jobs to run every N hours
    steps:
      - name: Checkout repository scripts
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.repository.default_branch }}
          fetch-depth: 50

      - name: Sync from LibreELEC master
        run: |
          # git remote -v
          # git branch -a
          # git remote add -t ${{ env.UPSTREAM_BRANCH }} --tags ${{ env.UPSTREAM_REMOTE }} https://github.com/${{ env.UPSTREAM_REPO }}
          # echo "git remote exit code: $?"
          git remote -v
          git branch -a
          git fetch --set-upstream --depth 50 https://github.com/${{ env.UPSTREAM_REPO }} ${{ env.UPSTREAM_BRANCH }}
          # git fetch --set-upstream --quiet --depth 50 ${{ env.UPSTREAM_REMOTE }} ${{ env.UPSTREAM_BRANCH }}
          echo "git fetch exit code: $?"
          git remote -v
          git branch -a
          git push --set-upstream ${{ env.THIS_REMOTE }} ${{ github.event.repository.default_branch }}
          echo "git push exit code: $?"
          git remote -v
          git branch -a
          git branch --set-upstream-to https://github.com/${{ env.UPSTREAM_REPO }}/${{ github.event.repository.default_branch }}
          # git branch --set-upstream-to ${{ env.THIS_REMOTE }}/${{ github.event.repository.default_branch }}
          echo "git branch exit code: $?"
          git remote -v
          git branch -a
          exit 0

          remote_sha=$(git ls-remote https://github.com/${{ env.UPSTREAM_REPO }}.git refs/heads/${{ env.UPSTREAM_BRANCH }} | awk '{print substr($1,1,8)}') #  HEAD | awk '{print substr($1,1,8)} / awk '{print $1}'
          echo "Remote sha: $remote_sha"
          if git show $remote_sha --oneline &> /dev/null; then
            echo "Already up to date with ${{ env.UPSTREAM_REPO }}"
            exit 0
          else
            echo "Not up to date with ${{ env.UPSTREAM_REPO }}, syncing..."
            last_sha=$(git rev-parse --short @)
            echo "Current sha: $last_sha"
            if gh repo sync ${{ github.repository }} -b ${{ github.event.repository.default_branch }}; then
              # new_sha=$(git rev-parse --short @)
              echo "Sync successful"
              # still got 'error: failed to push some refs to ...'
              #   hint: Updates were rejected because the remote contains work that you do not have locally 
              # so adding fetch and merge code before push
              git config --global user.name '${{ github.repository_owner }}'
              git config --global user.email '${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com'
              git remote add -t ${{ env.UPSTREAM_BRANCH }} --tags ${{ env.UPSTREAM_REMOTE }} https://github.com/${{ env.UPSTREAM_REPO }}.git
              git remote set-url --push ${{ env.UPSTREAM_REMOTE }} NO_PUSH
              git fetch --set-upstream --quiet --depth 50 ${{ env.UPSTREAM_REMOTE }} # ${{ env.UPSTREAM_BRANCH }}
              git checkout ${{ github.event.repository.default_branch }}
              git merge --no-edit --quiet ${{ env.UPSTREAM_REMOTE }}/${{ env.UPSTREAM_BRANCH }}
              git push --quiet ${{ env.THIS_REMOTE }} ${{ github.event.repository.default_branch }} --follow-tags
              # git push ${{ env.THIS_REMOTE }} --tags

              gh workflow run build-eddictwareelec-in-containerX.yml
            else
              echo "Sync failed"
              # exit 1
            fi
          fi
