name: Testing JSON secrets

on:
  workflow_dispatch: {}
  
env:
  ENCODED_PIPELINE_SECRET: ${{ secrets.SCP_INFO }}

jobs:
  secrets:
    name: Accessing JSON secret
    permissions: write-all
    runs-on: self-hosted #ubuntu-latest
    steps:
      - name: Create JQ filter file
        run: |
          # quoted 'EOF' to prevent variable expansion when creating the file
          cat <<'EOF' > "${{ runner.temp }}/filter.jq"
          # filter.jq
          to_entries[]                                      # 1. Iterate over top-level keys (e.g., "red", "green")
          | . as {key: $parent, value: $v}                  # 2. Assign parent key and its value
          | ($v | if type == "array" then .[] else . end)   # 3. Normalize: if value is array, iterate; else, use as-is
          | to_entries[]                                    # 4. Iterate over each child key-value pair
          | "\($parent)_\(.key)=\(.value)"                  # 5. Format as "parent.child=value"
          EOF

      - name: Decode Secrets
        id: decode-secrets
        run: |
          if [ ! -x "$(command -v jq)" ]; then
            echo "jq not found, installing..."
            DEBIAN_FRONTEND=noninteractive  sudo apt-get update
            DEBIAN_FRONTEND=noninteractive sudo apt-get install -y jq
          fi

          echo "${{ env.ENCODED_PIPELINE_SECRET }}" |
            base64 --decode |
            jq --raw-output --from-file ${{ runner.temp }}/filter.jq |
          while read line; do
            option="${line%%=*}"
            value="${line#*=}"
            echo "::add-mask::$value";
            echo "$option=$value" >> $GITHUB_ENV;
          done
          rm -f ${{ runner.temp }}/filter.jq

      - name: Decode connection_key
        id: decode-connection-key
        run: |
          value=$(printf '%s' "$connection_key" | base64 -d)
          escaped_value=$(printf '%s' "$value" | sed 's/%/%25/g; s/\r/%0D/g; s/$/%0A/' | tr -d '\n' | sed 's/%0A$//')
          echo "::add-mask::$escaped_value";
          {
            echo 'decoded_key<<EOF'
            echo "$escaped_value"
            echo 'EOF'
          } >> $GITHUB_OUTPUT

      - name: Echo out a GitHub Actions Secret to the logs
        run: |
          unescaped_value=$(printf '%s' "${{ steps.decode-connection-key.outputs.decoded_key }}" | sed 's/%25/%/g; s/%0D/\r/g; s/%0A/\n/g')
          echo "Trick to echo GitHub Actions Secret:"
          # echo "$unescaped_value" | sed 's/./& /g' | awk '{print substr($0,1,100);exit}'
          # echo "$connection_port" | sed 's/./& /g'
