name: Test secrets JSON decoding and usage

on:
  workflow_dispatch:
    inputs:
      runner:
        description: 'Runner to run against'
        required: true
        type: choice
        options:
          - self-hosted
          - github
        default: github
    
run-name: ${{ format('{0} ({1} - {2})', github.workflow, github.event_name) }}

env:
  EE_Distro: EddictwareELEC
  EE_image_pathfilename: ""
  EE_image_filename: ""
  EE_Registry: ghcr.io
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  ACTIONS_RUNNER_DEBUG: true

defaults:
  run:
    shell: bash

jobs:
  runner:
    name: Set workflow runner
    if: ${{ always() }}
    runs-on: ${{ inputs.runner == 'github' && 'ubuntu-latest' || inputs.runner }}
    permissions:
      contents: read
      packages: read
      attestations: read
      id-token: write
    outputs:
      # runner: ${{ steps.echo_runner.outputs.WF_RUNNER }}
      runner: ${{ inputs.runner == 'github' && 'ubuntu-latest' || inputs.runner }}
    steps:
      - name: echo the runner
        id: echo_runner
        run: |
          debug=false
          # https://docs.github.com/en/actions/reference/workflows-and-actions/contexts#runner-context
          [ "$debug" = true ] && echo "runner.name: ${{ runner.name }}"
          [ "$debug" = true ] && echo "runner.os: ${{ runner.os }}"
          [ "$debug" = true ] && echo "runner.arch: ${{ runner.arch }}"
          [ "$debug" = true ] && echo "runner.temp: ${{ runner.temp }}"
          [ "$debug" = true ] && echo "runner.tool_cache: ${{ runner.tool_cache }}"
          [ "$debug" = true ] && echo "runner.debug: ${{ runner.debug }}"
          [ "$debug" = true ] && echo "runner.environment: ${{ runner.environment }}"
          # WF_RUNNER="${{ format('[{0}, {1}]', runner.environment, runner.name) }}"
          # [ "$debug" = true ] && echo "WF_RUNNER=$WF_RUNNER" | sudo tee -a $GITHUB_OUTPUT
          # [ "$debug" = true ] && echo "selected runner: $WF_RUNNER"
          [ "$debug" = true ] && echo "selected runner: ${{ runner.environment }}"
        # runner: ${{ runner.name }}
        # runner: ${{ format('[{0}, {1}]', runner.environment, runner.name) }}
        # runner: [self-hosted, "${{ inputs.chosen-os }}"]

  secrets:
    name: Accessing JSON secret
    permissions: write-all
    runs-on: ${{ needs.runner.outputs.runner }}
    needs:
      - runner 
    env:
      encSCP_INFO: ${{ secrets.SCP_INFO }}
    steps:
      - name: Create JQ filter file
        run: |
          # quoted 'EOF' to prevent variable expansion when creating the file
          cat <<'EOF' > "${{ runner.temp }}/filter.jq"
          # filter.jq
          to_entries[]                                      # 1. Iterate over top-level keys (e.g., "red", "green")
          | . as {key: $parent, value: $v}                  # 2. Assign parent key and its value
          | ($v | if type == "array" then .[] else . end)   # 3. Normalize: if value is array, iterate; else, use as-is
          | to_entries[]                                    # 4. Iterate over each child key-value pair
          | "\($parent)_\(.key)=\(.value)"                  # 5. Format as "parent.child=value"
          EOF

      - name: Decode Secrets
        id: decode-secrets
        run: |
          if [ ! -x "$(command -v jq)" ]; then
            echo "jq not found, installing..."
            DEBIAN_FRONTEND=noninteractive sudo apt-get update
            DEBIAN_FRONTEND=noninteractive sudo apt-get install -y jq
          fi

          echo "${{ env.encSCP_INFO }}" |
            base64 --decode |
            jq --raw-output --from-file ${{ runner.temp }}/filter.jq |
          while read line; do
            option="${line%%=*}"
            value="${line#*=}"
            echo "::add-mask::$value";
            echo "$option=$value" >> $GITHUB_ENV;
          done
          rm -f ${{ runner.temp }}/filter.jq

      - name: Decode connection_key
        id: decode-connection-key
        run: |
          value=$(printf '%s' "$connection_key" | base64 -d)
          escaped_value=$(printf '%s' "$value" | sed 's/%/%25/g; s/\r/%0D/g; s/$/%0A/' | tr -d '\n' | sed 's/%0A$//')
          echo "::add-mask::$escaped_value";
          {
            echo 'decoded_key<<EOF'
            echo "$escaped_value"
            echo 'EOF'
          } >> $GITHUB_OUTPUT

      - name: Echo out a GitHub Actions Secret to the logs
        id: unescape-connection-key
        run: |
          unescaped_value=$(printf '%s' "${{ steps.decode-connection-key.outputs.decoded_key }}" | sed 's/%25/%/g; s/%0D/\r/g; s/%0A/\n/g')
          echo "::add-mask::$unescaped_value";
          echo "connection_keyX=$unescaped_value" >> $GITHUB_OUTPUT;
          # echo "Trick to echo GitHub Actions Secret:"
          # echo "$unescaped_value" | sed 's/./& /g' | awk '{print substr($0,1,100);exit}'
          # echo "$connection_port" | sed 's/./& /g'

      - name: Copy ${{ env.EE_Distro }} image via SCP
        uses: appleboy/scp-action@v1
        with:
          host: ${{ steps.decode-secrets.outputs.connection_host }}
          port: ${{ steps.decode-secrets.outputs.connection_port }}
          username: ${{ steps.decode-secrets.outputs.connection_username }}
          key: ${{ steps.unescape-connection-key.outputs.connection_keyX }}
          fingerprint: ${{ steps.decode-secrets.outputs.connection_fingerprint }}
          protocol: ${{ steps.decode-secrets.outputs.connection_protocol }}
          source: ${{ steps.archive-image.outputs.EE_image_pathfilename }}
          target: ${{ steps.decode-secrets.outputs.transfer_target }}
