name: Testing JSON secrets

on:
  workflow_dispatch: {}
  
env:
  ENCODED_PIPELINE_SECRET: ${{ secrets.SCP_INFO }}

jobs:
  secrets:
    name: Accessing JSON secret
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Envs Before
        run: echo "Env values before"

      - name: Create JQ filter file
        run: |
          # quoted 'EOF' to prevent variable expansion when creating the file
          cat <<'EOF' > "${{ runner.temp }}/filter.jq"
          # filter.jq
          to_entries[]                                      # 1. Iterate over top-level keys (e.g., "red", "green")
          | . as {key: $parent, value: $v}                  # 2. Assign parent key and its value
          | ($v | if type == "array" then .[] else . end)   # 3. Normalize: if value is array, iterate; else, use as-is
          | to_entries[]                                    # 4. Iterate over each child key-value pair
          | "\($parent)_\(.key)=\(.value)"                  # 5. Format as "parent.child=value"
          EOF

      - name: Decode Secrets
        run: |
          if [ ! -x "$(command -v jq)" ]; then
            echo "jq not found, installing..."
            sudo apt-get update
            sudo apt-get install -y jq
          fi

          echo "${{ env.ENCODED_PIPELINE_SECRET }}" |
          base64 --decode |
          jq --raw-output --from-file ${{ runner.temp }}/filter.jq |
          while read line; do
            echo "$line" >> $GITHUB_ENV;
            echo "::add-mask::${line#*=}";
          done
      
      - name: Envs After
        run: echo "Env values after"

      - name: Decode connection_key
        id: decode-connection-key
        run: |
          # cannot use 'context syntax' for environment variables
          # as these will be interpolated and replaced by a string before the job is sent to a runner
          line=$(base64 -d <<< "$connection_key")
          {
            echo 'connection_key<<EOF'
            echo "$line"
            echo 'EOF'
          } >> $GITHUB_OUTPUT          
          echo "::add-mask::${connection_key#*=}";
          echo "::set-output name=connection_key_masked::$connection_key"

      - name: Envs After
        run: echo "Env values after"

      - name: Echo out a GitHub Actions Secret to the logs
        run: |
          decoded_key="${{ steps.decode-connection-key.outputs.connection_key_masked }}"
          echo "The GitHub Action Secret will be masked:  "
          wc -l <<< "${decoded_key}"
          echo "Trick to echo GitHub Actions Secret:  "
          echo "${decoded_key}" | sed 's/./& /g' | awk '{print substr($0,1,25);exit}' 
          echo "${connection_port}" | sed 's/./& /g'
