name: Testing JSON secrets

on:
  workflow_dispatch: {}
  
env:
  ENCODED_PIPELINE_SECRET: ${{ secrets.SCP_INFO }}

jobs:
  secrets:
    name: Accessing JSON secret
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Quick test unescaped
        if: 0 == 1
        run: |
          string_var=$(cat <<'EOF'
          This is a
          multiline
          string.
          EOF
          )
          echo "1 -----------"
          echo "$string_var"
          echo "2 -----------"
          echo "::add-mask::$string_var"
          echo "3 -----------"
          echo "$string_var"
          echo "4 -----------"

      - name: Quick test escaped
        run: |
          string_var2=$(cat <<'EOF'
          mysecret
          multiline
          string.
          EOF
          )

          escaped_value2=$(printf '%s' "$string_var2" | sed 's/%/%25/g; s/\r/%0D/g; s/$/%0A/' | tr -d '\n' | sed 's/%0A$//')

          echo "Encoded:"
          echo "$escaped_value2"
          echo "::add-mask::$escaped_value2"
          echo "After masking:"
          echo "$escaped_value2"

          # echo "0 -----------"
          # echo "$string_var2"
          # # escaped_value2=$(echo "$string_var2" | sed ':a;N;$!ba;s/%/%25/g;s/\r/%0D/g;s/\n/%0A/g')
          # # escaped_value2=$(awk '{gsub("%", "%25"); gsub("\r", "%0D"); printf "%s%0A", $0} END {print ""}' <<< "$string_var2" | sed 's/%0A$//')
          # escaped_value2=$(awk '{gsub("%", "%25"); gsub("\r", "%0D"); printf "%s%%0A", $0} END {print ""}' <<< "$string_var2" | sed 's/%0A$//')
          # echo "1 -----------"
          # echo "$string_var2"
          # echo "2 -----------"
          # echo "$escaped_value2"
          # echo "3 -----------"
          # echo "::add-mask::$escaped_value2"
          # echo "4 -----------"
          # echo "$escaped_value2"
          # echo "5 -----------"

      - name: Envs Before
        run: echo "Env values before"; exit 1;

      - name: Create JQ filter file
        run: |
          # quoted 'EOF' to prevent variable expansion when creating the file
          cat <<'EOF' > "${{ runner.temp }}/filter.jq"
          # filter.jq
          to_entries[]                                      # 1. Iterate over top-level keys (e.g., "red", "green")
          | . as {key: $parent, value: $v}                  # 2. Assign parent key and its value
          | ($v | if type == "array" then .[] else . end)   # 3. Normalize: if value is array, iterate; else, use as-is
          | to_entries[]                                    # 4. Iterate over each child key-value pair
          | "\($parent)_\(.key)=\(.value)"                  # 5. Format as "parent.child=value"
          EOF

      - name: Decode Secrets
        id: decode-secrets
        run: |
          if [ ! -x "$(command -v jq)" ]; then
            echo "jq not found, installing..."
            sudo apt-get update
            sudo apt-get install -y jq
          fi

          echo "${{ env.ENCODED_PIPELINE_SECRET }}" |
          base64 --decode |
          jq --raw-output --from-file ${{ runner.temp }}/filter.jq |
          while read line; do
            option="${line%%=*}"
            value="${line#*=}"
            size=${#value};
            declare ${option}="${value}"
            varname=${option}
            varvalue=${!varname}
            echo "::add-mask::$value";
            echo "$option=$value" >> $GITHUB_ENV;
            # echo "Masked '$varname' ($size): $varvalue"
          done
      
      - name: Envs After
        run: echo "Env values after"

      - name: Decode connection_key
        id: decode-connection-key
        run: |
          # cannot use 'context syntax' for environment variables
          # as these will be interpolated and replaced by a string before the job is sent to a runner
          # size=${#connection_key}
          # echo "$size"
          value=$(base64 -d <<< "$connection_key")
          size=${#value}
          # echo "$size"
          escaped_value=$(echo "$value" | sed ':a;N;$!ba;s/%/%25/g;s/\r/%0D/g;s/\n/%0A/g')
          echo "::add-mask::$escaped_value";
          {
            echo 'decoded_key<<EOF'
            echo "$escaped_value"
            echo 'EOF'
          } >> $GITHUB_OUTPUT

          echo "Masked '$decoded_key' ($size): $escaped_value"

      - name: Envs After
        run: echo "Env values after"; exit 1;

      - name: Echo out a GitHub Actions Secret to the logs
        run: |
          echo "The GitHub Action Secret will be masked:"
          echo "::add-mask::$decoded_key"
          size=${#decoded_key}
          echo "$size"
          wc -l <<< "$decoded_key"
          echo "Trick to echo GitHub Actions Secret:"
          echo "$decoded_key" | sed 's/./& /g' #| awk '{print substr($0,1,25);exit}' 
          echo "$connection_port" | sed 's/./& /g'
