on:
  workflow_call:
    secrets:
      env_vars:
        required: true
jobs:
  parse-secrets:
    runs-on: self-hosted
    env:
      env_vars: ${{ secrets.env_vars }}
    steps:
      - name: Decode secrets as environment variables
        run: |
          for i in $env_vars; do
            i=$(echo $i | sed 's/=.*//g')=$(echo ${i#*=} | base64 -di | base64 -di)
            echo ::add-mask::${i#*=}
            printf '%s\n' "$i" >> $GITHUB_ENV
          done
      - name: Validate secrets
        run: |
          # Secrets are now available as masked environment variable.
          echo $REGISTRY_FQDN # or ${{ env.REGISTRY_FQDN }}
          echo ${{ env.REGISTRY_FQDN }}
